
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>@ViewBag.Title - 人事差勤打卡系統</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="body-pd">
    <header class="header" id="header">
        <div class="header-toggle newlogo" id="header-toggle"> <img class="nav_logo3" src="~/Content/images/差勤打卡LOGO.png"><span class="nav_logo-name">&nbsp;&nbsp;Punch.</span> </div>
        <div class="sidebar-user-picture">
            @*&nbsp;<img alt="使用者圖片" src="~/Content/images/user2.png">*@
            <div class="user-name">@Session["name"]</div>
            <div class="user-role">
                Administrator
            </div>
        </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                @*<a href="@Url.Action("Index","PunchRecords")" class="nav_link  @(Context.Request.Path == "/" ? "active" : "")"><img class="nav_logo2" src="~/Content/images/差勤打卡LOGO2.png"><span class="nav_logo-name">人事差勤打卡系統</span> </a>*@
                <div class="nav_list">
                    <a href="@Url.Action("Index","EmployeeData")" class="nav_link @(Context.Request.Path == "/EmployeeData" ? "active" : "")"> <img class="nav_logo2" src="~/Content/images/user.png"> <span class="nav_name">員工管理</span> </a>
                    <a href="@Url.Action("Index","PunchRecords")" class="nav_link  @(Context.Request.Path == "/PunchRecords" ? "active" : "")"> <img class="nav_logo2" src="~/Content/images/clock.png"><span class="nav_name">打卡紀錄</span> </a>
                    <a href="@Url.Action("Index","TripRecords")" class="nav_link  @(Context.Request.Path == "/TripRecords" ? "active" : "")">  <img class="nav_logo2" src="~/Content/images/portfolio.png"> <span class="nav_name">公出管理</span> </a>
                    <a href="@Url.Action("Index","LeaveRecords")" class="nav_link  @(Context.Request.Path == "/LeaveRecords" ? "active" : "")">  <img class="nav_logo2" src="~/Content/images/contact-form.png"> <span class="nav_name">請假管理</span> </a>
                    @*<a href="@Url.Action("Index","DataExport")" class="nav_link @(Context.Request.Path == "/DataExport" ? "active" : "")">  <img class="nav_logo2" src="~/Content/images/pie-chart.png"> <span class="nav_name">資料匯出</span> </a>*@
                    <a href="@Url.Action("Index","Setting")" class="nav_link @(Context.Request.Path == "/Setting" ? "active" : "")">  <img class="nav_logo2" src="~/Content/images/settings (1).png"> <span class="nav_name">系統設定</span> </a>
                    <a href="@Url.Action("Index","AuthoritySetting")" class="nav_link @(Context.Request.Path == "/AuthoritySetting" ? "active" : "")"> <img class="nav_logo2" src="~/Content/images/file.png"> <span class="nav_name">權限設定</span> </a>
                    <a href="@Url.Action("Index","OrganizationChart")" class="nav_link @(Context.Request.Path == "/OrganizationChart" ? "active" : "")"> <img class="nav_logo2" src="~/Content/images/organization.png"> <span class="nav_name">組織圖</span> </a>
                </div>
                <a href="@Url.Action("Index","Account")" class="nav_link @(Context.Request.Path == "/Account" ? "active" : "")">  <img class="nav_logo2" src="~/Content/images/turn-off.png"> <span class="nav_name">登出</span> </a>
            </div> <a href="#" class="nav_link"> <i class='bi-power'></i> <span class="nav_name">登出</span> </a>
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 人事差勤系統</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</body>
</html>
