@{
    ViewBag.Title = "權限設定";
    List<AttendanceManagement.Models.Manager> managers = ViewBag.managers;//公司全部的管理員
    List<AttendanceManagement.Models.Department> departments = ViewBag.departments;
    List<AttendanceManagement.Models.JobTitle> jobTitles = ViewBag.jobtitles;
    List<AttendanceManagement.Models.ManagerPermissions> managerPermissions = ViewBag.managerPermissions;
    List<AttendanceManagement.Models.ManagerPermissionsCustomizations> customizations = ViewBag.customizations;
    List<AttendanceManagement.Models.ManagerAccountPermissions> managerAccountPermissions = ViewBag.managerAccountPermissions;

    int index = 1;
    int P_index = 1;
    int j = managerPermissions.Count;
    List<string> display_select = new List<string>();
    List<string> review_select = new List<string>();
    foreach (var managerPermission in managerPermissions)
    {
        foreach (var customization in customizations)
        {
            if (customization.PermissionsId == managerPermission.CustomizationDisplay)
            {
                int j_index = (jobTitles.FindIndex(item => item.JobTitleId == customization.JobtitleId));
                j_index+=1;
                display_select.Add("1_" + customization.DepartmentId + managerPermission.PermissionsId + j_index);
            }
            if (customization.PermissionsId == managerPermission.CustomizationReview)
            {
                int j_index = (jobTitles.FindIndex(item => item.JobTitleId == customization.JobtitleId));
                j_index += 1;
                review_select.Add("2_" + customization.DepartmentId + managerPermission.PermissionsId + j_index);
            }
        }
    }
}
<script type="text/javascript">
    window.onload = function () {

        @*var check =@select;*@
        var length = @j;
        //for (var i = 1; i <= check.length; i++)
        //{
        //    document.getElementById(check[i]).checked = true;
        //}
        for(var i = 1; i <= length; i++)
        {
            show("select1_" + i, "#custom_" + i);
        }
        for (var i = 1; i <= length; i++) {
            show("select2_" + i, "#custom2_" + i);
        }
        show("select3", "#custom3");
        show("select4", "#custom4");
        var _offset = sessionStorage.getItem("toTop");
        $(document).scrollTop(_offset);
        sessionStorage.clear();
    };
    function show(values, values1) {
        selectindex = document.getElementById(values).value
        if (selectindex == 1) {
            $(values1).css("display", "none");
        }
        else if (selectindex == 2) {
            $(values1).css("display", "none");
        }
        else if (selectindex == 3) {
            $(values1).css("display", "block");
        }
        else if (selectindex == 4) {
            $(values1).css("display", "none");
        }
    }
</script>
<style>
    h4 {
        color: black;
    }

    h5 {
        color: black;
        font-size: 14px;
    }

    label {
        font-size: 14px;
    }

    .active::before {
        color: #ffffff;
        background-color: #ffffff;
    }

    label {
        color: black;
    }
</style>

<div class="main-content">
    <section class="section">
        <h3 class="page_name">
            權限設定
        </h3>
        <div class="section-body" style="margin-top:25px">
            <div class="row">
                <div class="col-6">
                    <div class="card" id="BigBorder" style="border:1px solid #CCC;box-shadow:0px 0px 1px;">
                        <div class="card-header">
                            <h4 id="BigTitle">權限套用對象設定</h4>
                        </div>
                        <hr style="margin: 10px 20px 0px 20px ;border-top:2px solid #ccc;" />

                        <div class="card-body">
                            <div id="SmallContentBorder" style="margin-left:0 ;border:1px solid #FFFFFF">
                                <div class="col align-self-center" style="margin:0 auto;text-align:center">
                                    <div class="row">
                                        <div class="col-4" id="CenterSet" style="text-align: center;">
                                            <h5 id="textcenter">部門</h5>
                                        </div>
                                        <div class="col-4" id="CenterSet" style="text-align: center;">
                                            <h5 id="textcenter">職稱</h5>
                                        </div>
                                        <div class="col-4" id="CenterSet" style="text-align: center;">
                                            <h5 id="textcenter">套用群組</h5>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div>
                                @*<div id="SmallTopBorder">
                            <div style=" display: flex; align-items: center; ">
                                <h5 id="Content">資料顯示對象</h5>
                            </div>
                        </div>*@
                                @foreach (var manager in managerAccountPermissions)
                                {
                                    <div id="SmallContentBorder" style="margin-left:0 ;border:1px solid #CCC">
                                        <div class="col align-self-center" style="margin:0 auto;text-align:center">
                                            @using (Html.BeginForm("UpdateManagerAccountPermissions", "AuthoritySetting", new { department_id = manager.DepartmentId, jobtitle_id = manager.JobtitleId }, FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div class="row">
                                                    <div class="col" id="CenterSet">
                                                        <h5 id="textcenter">
                                                            @departments[(departments.FindIndex(item => item.DepartmentId.Equals(manager.DepartmentId)))].Name
                                                        </h5>
                                                    </div>
                                                    <div class="col" id="CenterSet">
                                                        <h5 id="textcenter">
                                                            @jobTitles[(jobTitles.FindIndex(item => item.JobTitleId.Equals(manager.JobtitleId)))].Name
                                                        </h5>
                                                    </div>
                                                    <div class="col" id="CenterSet">
                                                        <select class="form-select form-select-sm" name="permission_id" aria-label=".form-select-sm example" style="margin:0px auto;" id="select" onchange="set(); load3('exampleModalload');$(this.form).submit()">
                                                            <option selected value="null">預設</option>
                                                            @foreach (var managerPermission in managerPermissions)
                                                            {
                                                                if (manager.PermissionsId == managerPermission.PermissionsId)
                                                                {
                                                                    <option value="@managerPermission.PermissionsId" selected>@managerPermission.Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@managerPermission.PermissionsId">@managerPermission.Name</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            }
                                        </div>


                                    </div>}
                            </div>
                            <div>

                            </div>
                            <div>
                                @*<div id="SmallTopBorder">
                            <h5 id="Content">資料顯示對象</h5>
                        </div>*@
                            </div>
                        </div>
                    </div>
                </div>



                        
                        <div class="col-12">
                            <div class="card" id="BigBorder" style="border: 1px solid #CCC; box-shadow: 0px 0px 1px;">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-md-4" id="CenterSet">
                                            <h4 id="BigTitle">群組</h4>
                                        </div>
                                        <div class="col-md-2 offset-md-6">
                                            <button class="btn btn-info" type="submit" id="smallbutton" style="background-color: #68A3FC; border: 1px solid #68A3FC; " data-toggle="modal" data-target="#exampleModal1">新增群組</button>
                                        </div>
                                    </div>
                                </div>
                                <hr style="margin: 10px 20px 0px 20px" />
                                <div class="col-12">
                                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="live__scroll">
                                                    <div class="row">
                                                        <div class="row d-flex flex-row flex-nowrap">
                                                            <div class="col-md-6 mb-4">
                                                                <div class="card-body " style="padding-right:0px">
                                                                    <div class="col-12">

                                                                        <div class="card col-12" style="border: 2px solid #CCC; border-radius: 4px;box-shadow:none;display:inline-block;">
                                                                                <div class="card-header" style="padding:0px 35px 0px 35px">
                                                                                    <div class="row" style="padding:0px 0px 0px 0px">
                                                                                        <div class="col-10" style="padding-top:10px;padding-right:0px">
                                                                                            <div class="form-group">
                                                                                                <div class="row align-items-center">
                                                                                                    <div class="col-md-2" style="padding:0;display:inline-block;" id="CenterSet">
                                                                                                        <h4 id="Content" style="margin-right:5px">群組名 : </h4>
                                                                                                    </div>
                                                                                                    <div class="col-md-9" style="padding-left: 0;padding-right:0; display: inline-block;" id="CenterSet">
                                                                                                        <input value="預設" type="text" class="show" id="department_name" name="name" style=" width: 100%;border:none;outline:medium; border-bottom: 1px solid #ccc;font-size: 16px;" disabled readonly="readonly">
                                                                                                    </div>
                                                                                                    <div class="col-2 " style="display: inline-block;" id="CenterSet">
                                                                                                    </div>

                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <hr style="margin: 0px 35px 5px 35px" />
                                                                                <div style="height: 320px; overflow-y: auto;overflow-x:hidden;">
                                                                                    <div class="card-body" style="margin: 0 auto;">
                                                                                        <div class="col align-self-center" style="margin:0 auto;text-align:center">
                                                                                            <div class="row">
                                                                                                <div class="col-8" id="CenterSet" style="display:inline-block;">
                                                                                                    <h5 style="font-size:14px;text-align:start;">資料顯示對象</h5>
                                                                                                </div>
                                                                                                <div class="col-4" id="CenterSet" style="display:inline-block;">
                                                                                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" disabled  style=" margin: 5px; border: 1px solid #EDEEEF; border-radius: 4px;">
                                                                                                                <option selected value="1">全部</option>
                                                                                                                <option value="2">直屬員工</option>
                                                                                                                <option value="3">自訂</option>
                                                                                                                <option value="4">無</option>

                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            
                                                                                            <div class="row">
                                                                                                <div class="col-8" id="CenterSet" style="display:inline-block;">
                                                                                                    <h5 id="Content" style="font-size:14px;text-align:start;">可審核對象</h5>
                                                                                                </div>
                                                                                                <div class="col-4" id="CenterSet" style="display:inline-block;">
                                                                                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" disabled  name="employee_review" style=" margin: 5px; border: 1px solid #EDEEEF; border-radius: 4px;">
                                                                                                                <option selected value="1">全部</option>
                                                                                                                <option value="2">直屬員工</option>
                                                                                                                <option value="3">自訂</option>
                                                                                                                <option value="4">無</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            
                                                                                            <div class="row">
                                                                                                <div class="col-8" id="CenterSet" style="display:inline-block;">
                                                                                                    <h5 style="font-size:14px;text-align: start;">上下班時間設定</h5>
                                                                                                </div>
                                                                                                <div class="col-4" id="CenterSet" style="display:inline-block;">
                                                                                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select" name="setting_worktime" disabled >
                                                                                                            <option selected value="true">可編輯</option>
                                                                                                            <option value="false">不可編輯</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                <div class="col-8" id="CenterSet" style="display:inline-block;">
                                                                                                    <h5 style="font-size: 14px; text-align: start;">部門與職稱設定</h5>
                                                                                                </div>
                                                                                                <div class="col-4" id="CenterSet" style="display:inline-block;">
                                                                                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select" name="setting_department_jobtitle" disabled >
                                                                                                            <option selected value="true">可編輯</option>
                                                                                                            <option value="false">不可編輯</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                <div class="col-8" id="CenterSet" style="display:inline-block;">
                                                                                                    <h5 id="Content" style="font-size: 14px; text-align: start;">打卡位置設定</h5>
                                                                                                </div>
                                                                                                <div class="col-4" id="CenterSet" style="display:inline-block;">
                                                                                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select" name="setting_location" disabled >
                                                                                                            <option selected value="true">可編輯</option>
                                                                                                            <option value="false">不可編輯</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <hr style="margin: 15px 0px 15px 0px" />
                                                                                            <div class="col align-self-center" style="margin:0 auto;text-align:center">

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @foreach (var managerPermission in managerPermissions)
                                                            {
                                                                <div class="col-md-6 mb-4">
                                                                    <div class="card-body " style="padding-right:0px">
                                                                        <div class="col-12">

                                                                            <div class="card col-12" style="border: 2px solid #CCC; border-radius: 4px;box-shadow:none;display:inline-block;">
                                                                                @using (Html.BeginForm("UpdateManagerPermissions", "AuthoritySetting", new { id = managerPermission.PermissionsId, old_display = managerPermission.CustomizationDisplay, old_review = managerPermission.CustomizationReview }, FormMethod.Post, new { name = "frm_" + managerPermission.PermissionsId, id = "frm_" + managerPermission.PermissionsId }))
                                                                                {
                                                                                    @Html.AntiForgeryToken()
                                                                                    <div class="card-header" style="padding:0px 35px 0px 35px">
                                                                                        <div class="row" style="padding:0px 0px 0px 0px">
                                                                                            <div class="col-10" style="padding-top:10px;padding-right:0px">
                                                                                                <div class="form-group">
                                                                                                    <div class="row align-items-center">
                                                                                                        <div class="col-md-2" style="padding:0;display:inline-block;" id="CenterSet">
                                                                                                            <h4 id="Content" style="margin-right:5px">群組名 : </h4>
                                                                                                        </div>
                                                                                                        <div class="col-md-9" style="padding-left: 0;padding-right:0; display: inline-block;" id="CenterSet">
                                                                                                            <input value="@managerPermission.Name" type="text" class="show" id="department_name" name="name" style=" width: 100%;border:none;outline:medium; border-bottom: 1px solid #ccc;font-size: 16px;" required>
                                                                                                        </div>
                                                                                                        <div class="col-2 " style="display: inline-block;" id="CenterSet">
                                                                                                            <button class="btn btn-info" type="button" id="smallbutton" style="background-color: #FFCCD1;float:right;   border: 1px solid #FFCCD1; margin:-10px" data-toggle="modal" data-target="#exampleModal6.@managerPermission.PermissionsId" onclick="set();"><img src="~/Content/images/delete.png" id="smallbuttonimg" /></button>
                                                                                                        </div>

                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <hr style="margin: 0px 35px 5px 35px" />
                                                                                    <div style="height: 320px; overflow-y: auto;overflow-x:hidden;">
                                                                                        <div class="card-body" style="margin: 0 auto;">
                                                                                            <div class="col align-self-center" style="margin:0 auto;text-align:center">
                                                                                                <div class="row">
                                                                                                    <div class="col-8" id="CenterSet" style="display:inline-block;">
                                                                                                        <h5 style="font-size:14px;text-align:start;">資料顯示對象</h5>
                                                                                                    </div>
                                                                                                    <div class="col-4" id="CenterSet" style="display:inline-block;">
                                                                                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select1_@P_index" name="employee_display" onchange="showinfo(this[selectedIndex].value,'#custom_@P_index')" style=" margin: 5px; border: 1px solid #EDEEEF; border-radius: 4px;">
                                                                                                            @switch (managerPermission.EmployeeDisplay)
                                                                                                            {
                                                                                                                case 1:
                                                                                                                    <option selected value="1">全部</option>
                                                                                                                    <option value="2">直屬員工</option>
                                                                                                                    <option value="3">自訂</option>
                                                                                                                    <option value="4">無</option>
                                                                                                                    break;
                                                                                                                case 2:
                                                                                                                    <option value="1">全部</option>
                                                                                                                    <option selected value="2">直屬員工</option>
                                                                                                                    <option value="3">自訂</option>
                                                                                                                    <option value="4">無</option>
                                                                                                                    break;
                                                                                                                case 3:
                                                                                                                    <option value="1">全部</option>
                                                                                                                    <option value="2">直屬員工</option>
                                                                                                                    <option selected value="3">自訂</option>
                                                                                                                    <option value="4">無</option>
                                                                                                                    break;
                                                                                                                case 4:
                                                                                                                    <option value="1">全部</option>
                                                                                                                    <option value="2">直屬員工</option>
                                                                                                                    <option value="3">自訂</option>
                                                                                                                    <option value="4" selected>無</option>
                                                                                                                    break;
                                                                                                            }
                                                                                                        </select>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div id="custom_@P_index" style="display:none;border:1px solid #dbdbdb;border-radius:4px;margin:0px 0px 10px 0px;">
                                                                                                    @foreach (var department in departments)
                                                                                                    {
                                                                                                        <div class="col-12" id="CenterSet" style="width: 100%;">
                                                                                                            <div class="col-12">
                                                                                                                <div class="row align-items-center" id="topborder" style="display:inline-block;width:100%;">
                                                                                                                    <div class="col" id="CenterSet" style="font-size:14px;display:inline-block;">
                                                                                                                        <div class="form-check" id="CenterSet" style="display:inline-block;float:left;margin:10px 0px 0px 0px;">
                                                                                                                            <input class="form-check-input" type="checkbox" value="" id="C1_@department.DepartmentId@managerPermission.PermissionsId" onclick="checkAll('C1_@department.DepartmentId@managerPermission.PermissionsId', '1_@department.DepartmentId@managerPermission.PermissionsId','@jobTitles.Count');">
                                                                                                                            <label class="form-check-label">
                                                                                                                                @department.Name
                                                                                                                            </label>
                                                                                                                        </div>

                                                                                                                        <div class="float-right" style="display:inline-block;">
                                                                                                                            <button type="button" class="btn  btn-sm" data-toggle="collapse" data-target="#1 @department.DepartmentId@managerPermission.PermissionsId" aria-expanded="false" aria-controls="1 @department.DepartmentId@managerPermission.PermissionsId" id="smallbutton" style="background-color: #d0d0d0; border: 1px solid #d0d0d0; padding:2px;"><i class="bi bi-caret-down-fill" style="color: #555555;"></i></button>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                        <div class="col-12" id="CenterSet" style="width: 100%;">
                                                                                                            <div class="col-12">
                                                                                                                <div class="collapse show" id="1 @department.DepartmentId@managerPermission.PermissionsId">
                                                                                                                    @{index = 1;}
                                                                                                                    @foreach (var jobtitle in jobTitles)
                                                                                                                    {
                                                                                                                        <div class="row align-items-center" id="contentborder" style="padding:8px 0px 8px 0px;">
                                                                                                                            <div class="col" id="CenterSet" style="font-size:14px">
                                                                                                                                <div class="form-check">
                                                                                                                                    @if ((display_select.FindIndex(item => item.Equals("1_" + @department.DepartmentId + @managerPermission.PermissionsId + @index))) != -1)
                                                                                                                                    {
                                                                                                                                        <input class="form-check-input" type="checkbox" name="check1" value="@department.DepartmentId @jobtitle.JobTitleId" id="1_@department.DepartmentId@managerPermission.PermissionsId@index" checked>
                                                                                                                                        <label class="form-check-label">
                                                                                                                                            @jobtitle.Name
                                                                                                                                        </label>
                                                                                                                                    }
                                                                                                                                    else
                                                                                                                                    {
                                                                                                                                        <input class="form-check-input" type="checkbox" name="check1" value="@department.DepartmentId @jobtitle.JobTitleId" id="1_@department.DepartmentId@managerPermission.PermissionsId@index">
                                                                                                                                        <label class="form-check-label">
                                                                                                                                            @jobtitle.Name
                                                                                                                                        </label>
                                                                                                                                    }

                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                        index++;
                                                                                                                    }
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    }
                                                                                                </div>
                                                                                                <div class="row">
                                                                                                    <div class="col-8" id="CenterSet" style="display:inline-block;">
                                                                                                        <h5 id="Content" style="font-size:14px;text-align:start;">可審核對象</h5>
                                                                                                    </div>
                                                                                                    <div class="col-4" id="CenterSet" style="display:inline-block;">
                                                                                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select2_@P_index" name="employee_review" onchange="showinfo(this[selectedIndex].value,'#custom2_@P_index')" style=" margin: 5px; border: 1px solid #EDEEEF; border-radius: 4px;">
                                                                                                            @switch (managerPermission.EmployeeReview)
                                                                                                            {
                                                                                                                case 1:
                                                                                                                    <option selected value="1">全部</option>
                                                                                                                    <option value="2">直屬員工</option>
                                                                                                                    <option value="3">自訂</option>
                                                                                                                    <option value="4">無</option>
                                                                                                                    break;
                                                                                                                case 2:
                                                                                                                    <option value="1">全部</option>
                                                                                                                    <option selected value="2">直屬員工</option>
                                                                                                                    <option value="3">自訂</option>
                                                                                                                    <option value="4">無</option>
                                                                                                                    break;
                                                                                                                case 3:
                                                                                                                    <option value="1">全部</option>
                                                                                                                    <option value="2">直屬員工</option>
                                                                                                                    <option selected value="3">自訂</option>
                                                                                                                    <option value="4">無</option>
                                                                                                                    break;
                                                                                                                case 4:
                                                                                                                    <option value="1">全部</option>
                                                                                                                    <option value="2">直屬員工</option>
                                                                                                                    <option value="3">自訂</option>
                                                                                                                    <option value="4" selected>無</option>
                                                                                                                    break;
                                                                                                            }
                                                                                                        </select>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div id="custom2_@P_index" style="display: none;border: 1px solid #dbdbdb; border-radius: 4px; margin; margin: 0px 0px 10px 0px;">
                                                                                                    @foreach (var department in departments)
                                                                                                    {
                                                                                                        <div class="col-12" id="CenterSet" style="width: 100%;">
                                                                                                            <div class="col-12">
                                                                                                                <div class="row align-items-center" id="topborder" style="display:inline-block;width:100%;">
                                                                                                                    <div class="col" id="CenterSet" style="font-size:14px; display: inline-block;">
                                                                                                                        <div class="form-check" id="CenterSet" style="display:inline-block;float:left;margin:10px 0px 0px 0px;">
                                                                                                                            <input class="form-check-input" style="display:inline-block;" type="checkbox" id="C2_@department.DepartmentId@managerPermission.PermissionsId" onclick="checkAll('C2_@department.DepartmentId@managerPermission.PermissionsId','2_@department.DepartmentId@managerPermission.PermissionsId','@jobTitles.Count');">
                                                                                                                            <label class="form-check-label" style="display:inline-block;">
                                                                                                                                @department.Name
                                                                                                                            </label>
                                                                                                                        </div>


                                                                                                                        <div class="float-right" id="CenterSet" style="display:inline-block;">
                                                                                                                            <button type="button" class="btn btn-sm" data-toggle="collapse" data-target="#2 @department.DepartmentId@managerPermission.PermissionsId" aria-expanded="false" aria-controls="2 @department.DepartmentId@managerPermission.PermissionsId" id="smallbutton" style="background-color: #d0d0d0; border: 1px solid #d0d0d0; padding:2px;"><i class="bi bi-caret-down-fill" style="color: #555555;"></i></button>
                                                                                                                        </div>

                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="col-12" id="CenterSet" style="width: 100%;">
                                                                                                            <div class="col-12">
                                                                                                                <div class="collapse show" id="2 @department.DepartmentId@managerPermission.PermissionsId">
                                                                                                                    @{index = 1;}
                                                                                                                    @foreach (var jobtitle in jobTitles)
                                                                                                                    {
                                                                                                                        <div class="row align-items-center" id="contentborder" style="padding:8px 0px 8px 0px;">
                                                                                                                            <div class="col" id="CenterSet" style="font-size:14px">
                                                                                                                                <div class="form-check">
                                                                                                                                    @if ((review_select.FindIndex(item => item.Equals("2_" + @department.DepartmentId + @managerPermission.PermissionsId + @index))) != -1)
                                                                                                                                    {
                                                                                                                                        <input class="form-check-input" type="checkbox" name="check2" value="@department.DepartmentId @jobtitle.JobTitleId" id="2_@department.DepartmentId@managerPermission.PermissionsId@index" checked>
                                                                                                                                        <label class="form-check-label">
                                                                                                                                            @jobtitle.Name
                                                                                                                                        </label>
                                                                                                                                    }
                                                                                                                                    else
                                                                                                                                    {
                                                                                                                                        <input class="form-check-input" type="checkbox" name="check2" value="@department.DepartmentId @jobtitle.JobTitleId" id="2_@department.DepartmentId@managerPermission.PermissionsId@index">
                                                                                                                                        <label class="form-check-label">
                                                                                                                                            @jobtitle.Name
                                                                                                                                        </label>
                                                                                                                                    }
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                        index++;
                                                                                                                    }
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    }
                                                                                                </div>
                                                                                                <div class="row">
                                                                                                    <div class="col-8" id="CenterSet" style="display:inline-block;">
                                                                                                        <h5 style="font-size:14px;text-align: start;">上下班時間設定</h5>
                                                                                                    </div>
                                                                                                    <div class="col-4" id="CenterSet" style="display:inline-block;">
                                                                                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select" name="setting_worktime">
                                                                                                            @if (managerPermission.SettingWorktime)
                                                                                                            {
                                                                                                                <option selected value="true">可編輯</option>
                                                                                                                <option value="false">不可編輯</option>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <option value="true">可編輯</option>
                                                                                                                <option selected value="false">不可編輯</option>
                                                                                                            }
                                                                                                        </select>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row">
                                                                                                    <div class="col-8" id="CenterSet" style="display:inline-block;">
                                                                                                        <h5 style="font-size: 14px; text-align: start;">部門與職稱設定</h5>
                                                                                                    </div>
                                                                                                    <div class="col-4" id="CenterSet" style="display:inline-block;">
                                                                                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select" name="setting_department_jobtitle">
                                                                                                            @if (managerPermission.SettingDepartmentJobtitle)
                                                                                                            {
                                                                                                                <option selected value="true">可編輯</option>
                                                                                                                <option value="false">不可編輯</option>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <option value="true">可編輯</option>
                                                                                                                <option selected value="false">不可編輯</option>
                                                                                                            }
                                                                                                        </select>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="row">
                                                                                                    <div class="col-8" id="CenterSet" style="display:inline-block;">
                                                                                                        <h5 id="Content" style="font-size: 14px; text-align: start;">打卡位置設定</h5>
                                                                                                    </div>
                                                                                                    <div class="col-4" id="CenterSet" style="display:inline-block;">
                                                                                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select" name="setting_location">
                                                                                                            @if (managerPermission.SettingLocation)
                                                                                                            {
                                                                                                                <option selected value="true">可編輯</option>
                                                                                                                <option value="false">不可編輯</option>
                                                                                                            }
                                                                                                            else
                                                                                                            {
                                                                                                                <option value="true">可編輯</option>
                                                                                                                <option selected value="false">不可編輯</option>
                                                                                                            }
                                                                                                        </select>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <hr style="margin: 15px 0px 15px 0px" />
                                                                                                <div class="col align-self-center" style="margin:0 auto;text-align:center">
                                                                                                    <button class="btn btn-info" type="button" style="background-color: #DF5B57; border: 1px solid #DF5B57; border-radius: 4px; margin: 5px; " onclick="set(); load('frm_@managerPermission.PermissionsId', 'name', 'exampleModalload'); window.location.reload();">取消</button>
                                                                                                    <button class="btn btn-info" type="submit" style="background-color: #6CA7ED; border: 1px solid #6CA7ED; border-radius: 4px; margin: 5px; " onclick="set();load('frm_@managerPermission.PermissionsId','name','exampleModalload')">儲存</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                }
                                                                                @{P_index++;}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</section>
</div>

@foreach (var managerPermission in managerPermissions)
{
    <div class="modal fade" id="exampleModal6.@managerPermission.PermissionsId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">確定要刪除此權限設定?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("DeleteManagerPermissions", "AuthoritySetting", new { id = managerPermission.PermissionsId, old_display = managerPermission.CustomizationDisplay, old_review = managerPermission.CustomizationReview }, FormMethod.Post, new { name = "frm_del_"+ managerPermission.PermissionsId, id = "frm_del_" + managerPermission.PermissionsId }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="modal-footer">
                            <button id="Button" name="Button" value="CloseButton" type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button id="Button" name="Button" value="DeleteButton" type="submit" class="btn btn-danger"  data-toggle="modal" data-target="#exampleModalload">刪除</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增群組</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Html.BeginForm("AddManagerPermissions", "AuthoritySetting", FormMethod.Post,new { name= "frm_permissions",id= "frm_permissions" }))
            {
                @Html.AntiForgeryToken()

                <div class="modal-body">
                    <div class="form-group">

                        <div class="card" style="border:1px solid #CCC;box-shadow:0px 0px 0px;">
                            <div class="card-header">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2" style="padding:0">
                                            <h4 align="right" id="Content" style="float:right;margin-right:10px">群組名 : </h4>
                                        </div>
                                        <div class="col-md-10" style="padding-left:0">
                                            <input type="text" class="show" id="department_name" name="name" style=" width: 100%;width: 100%;border:none;outline:medium; border-bottom: 1px solid #ccc;font-size: 16px;" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin: 0px 20px 0px 20px" />
                            <div style="height: 320px; overflow-y: auto;overflow-x:hidden;">
                                <div class="card-body" style="margin: 0 auto;">
                                    <div class="col align-self-center" style="margin:0 auto;text-align:center">
                                        <div class="row">
                                            <div class="col-8" id="CenterSet">
                                                <h5 style="font-size:14px;">資料顯示對象</h5>
                                            </div>
                                            <div class="col-4" id="CenterSet">
                                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select3" name="employee_display" onchange="showinfo(this[selectedIndex].value,'#custom3')" style=" margin: 5px; border: 1px solid #EDEEEF; border-radius: 4px;">
                                                    <option selected value="1">全部</option>
                                                    <option value="2">直屬員工</option>
                                                    <option value="3">自訂</option>
                                                    <option value="4">無</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div id="custom3" style="display:none;border:1px solid #dbdbdb;border-radius:4px;margin:0px 0px 10px 0px;">
                                            @foreach (var department in departments)
                                            {
                                                <div class="col-12" id="CenterSet" style="width: 100%;">
                                                    <div class="col-12">
                                                        <div class="row align-items-center" id="topborder">
                                                            <div class="col" id="CenterSet" style="font-size:14px">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="C3_@department.DepartmentId" onclick="checkAll('C3_@department.DepartmentId', '3_@department.DepartmentId','@jobTitles.Count');">
                                                                    <label class="form-check-label">
                                                                        @department.Name
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="float-right" id="CenterSet">
                                                                <button type="button" class="btn btn-danger btn-sm" data-toggle="collapse" data-target="#3 @department.DepartmentId" aria-expanded="false" aria-controls="3 @department.DepartmentId" id="smallbutton" style="background-color: #d0d0d0; border: 1px solid #d0d0d0; padding:2px;"><i class="bi bi-caret-down-fill" style="color: #555555;"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12" id="CenterSet" style="width: 100%;">
                                                    <div class="col-12">
                                                        <div class="collapse" id="3 @department.DepartmentId">
                                                            @{index = 1;}
                                                            @foreach (var jobtitle in jobTitles)
                                                            {
                                                                <div class="row align-items-center" id="contentborder" style="padding:8px 0px 8px 0px;">
                                                                    <div class="col" id="CenterSet" style="font-size:14px">
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" name="check3" value="@department.DepartmentId @jobtitle.JobTitleId" id="3_@department.DepartmentId@index">
                                                                            <label class="form-check-label">
                                                                                @jobtitle.Name
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                index++;
                                                            }
                                                        </div>
                                                    </div>
                                                </div>

                                            }
                                        </div>
                                        <div class="row">
                                            <div class="col-8" id="CenterSet">
                                                <h5 id="Content">可審核對象</h5>
                                            </div>
                                            <div class="col-4" id="CenterSet">
                                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select4" name="employee_review" onchange="showinfo(this[selectedIndex].value,'#custom4')" style=" margin: 5px; border: 1px solid #EDEEEF; border-radius: 4px;">
                                                    <option selected value="1">全部</option>
                                                    <option value="2">直屬員工</option>
                                                    <option value="3">自訂</option>
                                                    <option value="4">無</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div id="custom4" style="display: none;border: 1px solid #dbdbdb; border-radius: 4px; margin; margin: 0px 0px 10px 0px;">
                                            @foreach (var department in departments)
                                            {
                                                <div class="col-12" id="CenterSet" style="width: 100%;">
                                                    <div class="col-12">
                                                        <div class="row align-items-center" id="topborder">
                                                            <div class="col" id="CenterSet" style="font-size:14px">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" id="C4_@department.DepartmentId" onclick="checkAll('C4_@department.DepartmentId','4_@department.DepartmentId','@jobTitles.Count');">
                                                                    <label class="form-check-label">
                                                                        @department.Name
                                                                    </label>
                                                                </div>
                                                            </div>

                                                            <div class="float-right" id="CenterSet">
                                                                <button type="button" class="btn btn-danger btn-sm" data-toggle="collapse" data-target="#4 @department.DepartmentId" aria-expanded="false" aria-controls="4 @department.DepartmentId" id="smallbutton" style="background-color: #d0d0d0; border: 1px solid #d0d0d0; padding:2px;"><i class="bi bi-caret-down-fill" style="color: #555555;"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12" id="CenterSet" style="width: 100%;">
                                                    <div class="col-12">
                                                        <div class="collapse" id="4 @department.DepartmentId">
                                                            @{index = 1;}
                                                            @foreach (var jobtitle in jobTitles)
                                                            {
                                                                <div class="row align-items-center" id="contentborder" style="padding:8px 0px 8px 0px;">
                                                                    <div class="col" id="CenterSet" style="font-size:14px">
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" name="check4" value="@department.DepartmentId @jobtitle.JobTitleId" id="4_@department.DepartmentId@index">
                                                                            <label class="form-check-label">
                                                                                @jobtitle.Name
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                index++;
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="row">
                                            <div class="col-8" id="CenterSet">
                                                <h5 style="font-size:14px">上下班時間設定</h5>
                                            </div>
                                            <div class="col-4" id="CenterSet">
                                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select" name="setting_worktime">
                                                    <option selected value="true">可編輯</option>
                                                    <option value="false">不可編輯</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8" id="CenterSet">
                                                <h5 style="font-size:14px">部門與職稱設定</h5>
                                            </div>
                                            <div class="col-4" id="CenterSet">
                                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select" name="setting_department_jobtitle">
                                                    <option selected value="true">可編輯</option>
                                                    <option value="false">不可編輯</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8" id="CenterSet">
                                                <h5 id="Content">打卡位置設定</h5>
                                            </div>
                                            <div class="col-4" id="CenterSet">
                                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select" name="setting_location">
                                                    <option selected value="true">可編輯</option>
                                                    <option value="false">不可編輯</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr style="margin: 15px 0px 15px 0px" />
                                        <div class="col align-self-center" style="margin:0 auto;text-align:center">
                                            <button class="btn btn-info" type="button" style="background-color: #DF5B57; border: 1px solid #DF5B57; border-radius: 4px; margin: 5px; " data-dismiss="modal">取消</button>
                                            <button class="btn btn-info" type="submit" style="background-color: #6CA7ED; border: 1px solid #6CA7ED; border-radius: 4px; margin: 5px; " onclick="set();load('frm_permissions','name','exampleModalload')">儲存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="modal model-background modal-backdrop-bg" id="exampleModalload" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="width:100%">
    <div class="modal-dialog">
        <div class="modal-content" style="margin: 0px 0px 0px -9px;">
            <div class="modal-body" style="padding: 100px 0px 100px 0px; border-radius: 4px;width:100%;">
                <div id="CenterSet">
                    <img src="~/Content/images/loading.gif" id="shape-ex6-img" style="width: 100px; height: 100px; display: block; margin: auto; ">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function set() {
        sessionStorage.removeItem("toTop");
        sessionStorage.setItem("toTop", $(window).scrollTop());
    }
    function load(values1, values2, values) {
        var frm = document.forms[values1];
        if (frm.elements[values2].value != null && frm.elements[values2].value != "")//確認有無填寫
        {
            var modal = document.getElementById(values);
            modal.style.display = "block";
        }
    }
    function load3(values) {
        var modal = document.getElementById(values);
        modal.style.display = "block";
    }
</script>
<script type="text/javascript">
    function showinfo(values, values1) {
        if (values == 1) {
            $(values1).css("display", "none");
        }
        else if (values == 2) {
            $(values1).css("display", "none");
        }
        else if (values == 3) {
            $(values1).css("display", "block");
        }
        else if (values == 4) {
            $(values1).css("display", "none");
        }
    }

    function checkAll(values1, values, index) {
        //var checkbox1 = document.getElementById("1_100711");
        //checkbox1.checked = true;
        var chElt = document.getElementById(values1);
        var checkedElt = chElt.checked;
        console.log(checkedElt)

        if (checkedElt) {
            for (var i = 1; i <= index; i++) {
                var allCheck = document.getElementById(values + i);
                allCheck.checked = true;
            }
        }
        else {

            for (var i = 1; i <= index; i++) {
                var allCheck = document.getElementById(values + i);
                allCheck.checked = false;
            }

        }
    }
</script>

