
@{
    ViewBag.Title = "系統設定";

    List<AttendanceManagement.Models.Department> departments = ViewBag.departments;
    List<AttendanceManagement.Models.JobTitle> jobTitles = ViewBag.jobtitles;
    AttendanceManagement.Models.Company_Time company_Times = ViewBag.company_time;
    List<AttendanceManagement.Models.CompanyAddress> companyAddresses = ViewBag.company_address;

}


<div class="main-content">
    <section class="section">
        <h1 class="section-header">
            <div>系統設定</div>
        </h1>
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-sm-4 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <ul class="nav nav-pills flex-column" id="myTab2" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab4" data-toggle="tab" href="#home4" role="tab" aria-controls="home" aria-selected="true">部門設定</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab4" data-toggle="tab" href="#profile4" role="tab" aria-controls="profile" aria-selected="false">職稱設定</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="contact-tab4" data-toggle="tab" href="#contact4" role="tab" aria-controls="contact" aria-selected="false">出勤時間設定</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="GPS-tab4" data-toggle="tab" href="#GPS4" role="tab" aria-controls="GPS" aria-selected="false">打卡定位位置設定</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-8 col-lg-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="tab-content" id="myTab2Content">
                                        <div class="tab-pane fade show active" id="home4" role="tabpanel" aria-labelledby="home-tab4" style="width:100%; color: black;">



                                            <div class="d-flex">
                                                <div class="mr-auto p-2">在此新增、更新、刪除部門</div>
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal1">新增</button>
                                                </div>
                                            </div>

                                            @foreach (var department in departments)
                                            {
                                <div class="d-flex">
                                    <div class="mr-auto p-2">
                                        @department.Name
                                    </div>
                                    <div class="p-2">
                                        <button type="submit" class="btn btn-outline-primary  btn-sm" data-toggle="modal" data-target="#exampleModal2.@department.DepartmentId" id="id" name="id" value="@department.DepartmentId"><i class="bi-pencil-square"></i></button>
                                    </div>
                                    <div class="p-2">
                                        <button type="submit" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal3.@department.DepartmentId" id="id" name="id" value="@department.DepartmentId" onclick="ShowValue()"><i class="bi-trash-fill"></i></button>
                                    </div>
                                </div>}






                                        </div>
                                        <div class="tab-pane fade" id="profile4" role="tabpanel" aria-labelledby="profile-tab4" style="width:100%; color: black;">


                                            <div class="d-flex">
                                                <div class="mr-auto p-2">在此新增、更新、刪除職稱</div>
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal4">新增</button>
                                                </div>
                                            </div>

                                            @foreach (var jobtitle in jobTitles)
                                            {
                                <div class="d-flex">
                                    <div class="mr-auto p-2">
                                        @jobtitle.Name
                                    </div>
                                    <div class="p-2">
                                        <button type="submit" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal5.@jobtitle.JobTitleId" id="id" name="id" value="@jobtitle.JobTitleId"><i class="bi-pencil-square"></i></button>
                                    </div>
                                    <div class="p-2">
                                        <button type="submit" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal6.@jobtitle.JobTitleId" id="id" name="id" value="@jobtitle.JobTitleId"><i class="bi-trash-fill"></i></button>
                                    </div>
                                </div>}
                                        </div>

                                        <div class="tab-pane fade" id="contact4" role="tabpanel" aria-labelledby="contact-tab4" style="width:100%; color: black;">

                                            <div class="d-flex">
                                                <div class="mr-auto p-2">
                                                    業務部
                                                </div>
                                                <div class="p-2">
                                                    <button class="btn btn-default btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                        <i class="bi-caret-down-fill"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="collapse" id="collapseExample">
                                                <div class="card card-body">
                                                    <div class="d-flex">
                                                        <div class="mr-auto p-2">
                                                            經理
                                                        </div>
                                                        <div class="p-2">
                                                            <button class="btn btn-outline-primary btn-sm" type="submit"><i class="bi-pencil-square"></i></button>
                                                        </div>
                                                        <div class="p-2">
                                                            <button class="btn btn-danger btn-sm" " type="submit"><i class="bi-trash-fill"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="tab-pane fade" id="GPS4" role="tabpanel" aria-labelledby="GPS-tab4" style="width:100%; color: black;">

                                            <div class="d-flex">
                                                <div class="mr-auto p-2">公司地址</div>
                                                <div class="p-2">
                                                    <div class="p-2">
                                                        緯度：@companyAddresses[0].CoordinateX
                                                        、
                                                        經度：@companyAddresses[0].CoordinateY
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <div class="mr-auto p-2">
                                                    @companyAddresses[0].Address
                                                </div>
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal7"><i class="bi-pencil-square"></i></button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>



        <div class="section-body">
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>變更後台登入密碼</h4>
                        </div>

                        <div class="card-body">
                            @using (Html.BeginForm("ChangeCompanyPassword", "Setting", FormMethod.Post))
                            {
                @Html.AntiForgeryToken()


                                <div class="row">
                                    <div class="col-lg-auto col-md-10 col-12">
                                        新後台登入密碼：
                                        <input id="NewPassword" name="NewPassword" class="form-control" type="password" placeholder="請輸入新密碼" aria-label="Search">
                                    </div>
                                    <div class="col-lg-auto col-md-10 col-12">
                                        確認密碼：
                                        <input id="NewPassword2" name="NewPassword2" class="form-control" type="password" placeholder="請輸入新密碼" aria-label="Search">
                                    </div>
                                    <div class="col-lg-auto col-md-2 col-12">
                                        <button class="btn btn-primary" type="submit">修改</button>
                                    </div>
                                </div>}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*
        <div class="col-12 col-sm-12 col-lg-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h4>手機打卡記錄設定</h4>
                </div>

                <div class="card-body">

                    <form class="form-inline mr-auto">
                        <div class="row">
                            <div class="col-lg-auto col-md-3 col-3" style="margin-top:10px">
                                可查詢當月：
                            </div>
                            <div class="col-lg-auto col-md-2 col-12" style="margin-top:10px">
                                <label class="switch">
                                    <input type="checkbox" id="togBtn">是
                                    <div class="slider round">
                                        <span class="on">是</span>
                                        <span class="off">否</span>
                                    </div>
                                </label>
                            </div>
                            <div class="col-lg-auto col-md-5 col-12">
                                可查詢天數：<input class="form-control" type="text" placeholder="若設定為0則不限制天數" aria-label="Search">
                            </div>
                            <div class="col-lg-auto col-md-1 col-12">
                                <button class="btn btn-primary" type="submit">修改</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
        *@
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-sm-5 col-lg-4">
                    <div class="card" style="border: 1px solid #EDEEEF; border-radius: 4px">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>上下班時間設定</h4>
                            </div>
                            <hr style="margin: -10px 20px 0px 20px" />
                            <div class="card-body">
                                <div class="d-flex" style="border: 1px solid #EDEEEF; border-radius: 4px; margin: 5px 0px 5px 0px">
                                    <div class="col-7"  style="margin:10px 0px 0px 0px">
                                        <p>業務部</p>
                                    </div>
                                    <div class="col-5">
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="margin: 5px; border: 1px solid #EDEEEF; border-radius: 4px ">
                                            <option selected>早班</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-flex" style="border: 1px solid #EDEEEF; border-radius: 4px;margin:5px 0px 5px 20px">
                                    <div class="col-7"  style="margin:10px 0px 0px 0px">
                                        <p>經理</p>
                                    </div>
                                    <div class="col-5">
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="margin: 5px; border: 1px solid #EDEEEF; border-radius: 4px ">
                                            <option selected>早班</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-flex" style="border: 1px solid #EDEEEF; border-radius: 4px; margin: 5px 0px 5px 20px">
                                    <div class="col-7" style="margin:10px 0px 0px 0px">
                                        <p>職員</p>
                                    </div>
                                    <div class="col-5">
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="margin: 5px; border: 1px solid #EDEEEF; border-radius: 4px ">
                                            <option selected>早班</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-flex" style="border: 1px solid #EDEEEF; border-radius: 4px; margin: 5px 0px 5px 0px">
                                    <div class="col-7" style="margin:10px 0px 0px 0px">
                                        <p>技術部</p>
                                    </div>
                                    <div class="col-5">
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="margin: 5px; border: 1px solid #EDEEEF;border-radius:4px">
                                            <option selected>早班</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-12 col-sm-7 col-lg-8">
                    <div class="card" style="border: 1px solid #EDEEEF; border-radius: 4px">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-12 col-sm-4 col-lg-3">
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="width: 75%; border: 1px solid #EDEEEF;border-radius:4px">
                                        <option selected>早班</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="col-md-6 offset-md-3">
                                    <div class="row" style="margin: 0px 0px 0px 0px;float: right">
                                        <button class="btn btn-primary" type="submit" style="background-color: #51E792; border: 1px solid #51E792;border-radius:4px;margin:5px">新增</button>
                                        <button class="btn btn-primary" type="submit" style="background-color: #EC8282; border: 1px solid #EC8282; border-radius: 4px; margin: 5px">刪除</button>
                                    </div>
                                </div>
                            </div>
                            <hr style="margin: 10px 10px 0px 10px" />
                            <div class="card-body">
                                <div class="row" style="margin:30px 0px 30px 0px">
                                    <div class="col">
                                        <div class="row">
                                            <div>群組名稱 : </div>
                                            <input class="form-control" type="password" placeholder="早班" aria-label="Search" style="width: 75%;">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div>樣式設定 : </div>
                                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width: 75%; border: 1px solid #EDEEEF;border-radius:4px">
                                                <option selected>一般</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin:30px 0px 30px 0px">
                                    <div class="col">
                                        <div class="row">
                                            <div>上班時間 : </div>
                                            <input class="form-control" id="WorkTime" name="WorkTime" type="time" placeholder="" style="width:75%" aria-label="Search" value="@company_Times.WorkTime">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div>下班時間 : </div>
                                            <input class="form-control" id="RestTime" name="RestTime" type="time" placeholder="" style="width:75%" aria-label="Search" value="@company_Times.RestTime">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin:30px 0px 30px 0px">
                                    <div class="col">
                                        <div class="row">
                                            <div>休息時間設定 : </div>
                                            <input class="form-control" type="password" placeholder="60" aria-label="Search" style="width: 50%">
                                            <div>分鐘</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row" style="float:right">
                                            <button class="btn btn-primary" type="submit" style="background-color: #F24C4C; border: 1px solid #F24C4C; border-radius: 4px; margin: 5px">取消</button>
                                            <button class="btn btn-primary" type="submit" style="background-color: #7298FF; border: 1px solid #7298FF; border-radius: 4px; margin: 5px ">儲存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*
        <div class="col-12 col-sm-12 col-lg-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h4>下上班逾時打卡設定</h4>
                </div>

                <div class="card-body">

                    <form class="form-inline mr-auto">
                        <div class="row">
                            <div class="col-lg-auto col-md-3 col-3">
                                上下班逾時禁止打卡：
                            </div>
                            <div class="col-lg-auto col-md-2 col-12">
                                <label class="switch">
                                    <input type="checkbox" id="togBtn">
                                    <div class="slider round">
                                        <span class="on">是</span>
                                        <span class="off">否</span>
                                    </div>
                                </label>
                            </div>
                            <div class="col-lg-auto col-md-5 col-12" style="color: grey;">
                                *若開啟，上下班30分後打卡，需要後台許可app顯示該筆紀錄。
                            </div>
                            <div class="col-lg-auto col-md-1 col-12">
                                <button class="btn btn-primary" type="submit">修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        *@
    </section>
</div>


<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增部門</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddDepartment", "Setting", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">部門名稱：</label>
                        <input type="text" class="form-control" id="department_name" name="department_name">
                    </div>
                    <div class="modal-footer">
                        <button id="Button" name="Button" value="CloseButton" type="submit" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                        <button id="Button" name="Button" value="AddButton" type="submit" class="btn btn-success">新增</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@foreach (var department in departments)
{
    <div class="modal fade" id="exampleModal2.@department.DepartmentId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">部門名稱修改</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                @using (Html.BeginForm("EditDepartment", "Setting",new { id=department.DepartmentId}, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">更改部門名稱：</label>
                            <input type="text" id="department_name" name="department_name" class="form-control" value="@department.Name">
                        </div>
                        <div class="modal-footer">
                            <button id="Button" name="Button" value="CloseButton" type="submit" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                            <button id="Button" name="Button" value="EditButton" type="submit" class="btn btn-success">更新</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
@foreach (var department in departments)
{
    <div class="modal fade" id="exampleModal3.@department.DepartmentId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">確定要刪除此部門名稱?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("DeleteDepartment", "Setting", new { id = department.DepartmentId }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="modal-footer">
                            <button id="Button" name="Button" value="CloseButton" type="submit" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button id="Button" name="Button" value="DeleteButton" type="submit" class="btn btn-danger">刪除</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">新增職稱</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("AddJobtitle", "Setting", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">職稱：</label>
                            <input type="text" class="form-control" id="jobtitle_name" name="jobtitle_name">
                        </div>
                        <div class="modal-footer">
                            <button id="Button" name="Button" value="CloseButton" type="submit" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                            <button id="Button" name="Button" value="AddButton" type="submit" class="btn btn-success">新增</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @foreach (var jobtitle in jobTitles)
    {
        <div class="modal fade" id="exampleModal5.@jobtitle.JobTitleId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">更改職稱名稱</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("EditJobtitle", "Setting", new { id = jobtitle.JobTitleId }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">更改職稱名稱：</label>
                                <input type="text" class="form-control" id="jobtitle_name" name="jobtitle_name" value="@jobtitle.Name">
                            </div>
                            <div class="modal-footer">
                                <button id="Button" name="Button" value="CloseButton" type="submit" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                <button id="Button" name="Button" value="EditButton" type="submit" class="btn btn-success">更新</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    @foreach (var jobtitle in jobTitles)
    {
        <div class="modal fade" id="exampleModal6.@jobtitle.JobTitleId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">確定要刪除此職稱?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("DeleteJobtitle", "Setting", new { id = jobtitle.JobTitleId }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="modal-footer">
                                <button id="Button" name="Button" value="CloseButton" type="submit" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button id="Button" name="Button" value="DeleteButton" type="submit" class="btn btn-danger">刪除</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">打卡定位位置設定</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                @using (Html.BeginForm("EditAddress", "Setting", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">公司地址：</label>
                                <input type="text" class="form-control" id="address" name="address" required autofocus value="@companyAddresses[0].Address">
                            </div>

                            @*<div class="form-group">
                        <label for="message-text" class="col-form-label">半徑(公尺)：</label>
                        <input type="text" class="form-control" id="message-text">
                    </div>*@

                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                            <button type="submit" id="Button" name="Button" value="RenewButton" class="btn btn-success">更新</button>
                        </div>
                    </div>
                }
                </div>
        </div>
    </div>

    <script>
        $('#exampleModal1').on('bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

        var itemA = '<%=@foreach (var department in departments) { @department.DepartmentId} %>'

        $('#exampleModal2.itemA).on('bs.modal', function(event) {
                var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

        $('#exampleModal3.itemA').on('bs.modal', function (event) {
        var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

        $('#exampleModal4').on('bs.modal', function (event) {
        var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

        var itemB = '<%=@foreach (var jobtitle in jobTitles) { @jobtitle.JobTitleId} %>'

        $('#exampleModal5.itemB').on('bs.modal', function (event) {
        var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

        $('#exampleModal6.itemB').on('bs.modal', function (event) {
        var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)

            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

        $('#exampleModal7').on('bs.modal', function (event) {
        var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })
    </script>
