

@{ ViewBag.Title = "系統設定";
    List<AttendanceManagement.Models.Department> departments = ViewBag.departments;
    List<AttendanceManagement.Models.JobTitle> jobTitles = ViewBag.jobtitles;
    AttendanceManagement.Models.Company_Time company_Times = ViewBag.company_time;
    List<AttendanceManagement.Models.CompanyAddress> companyAddresses = ViewBag.company_address;
    List<AttendanceManagement.Models.EmployeeGeneralWorktime> generalWorktimes = ViewBag.general_worktime;
    List<AttendanceManagement.Models.EmployeeFlexibleWorktime> flexibleWorktimes = ViewBag.flexible_worktime;
    List<AttendanceManagement.Models.EmployeeWorkTime> employeeWorkTimes = ViewBag.employeeWorkTimes;
    List<AttendanceManagement.Models.ManagerPermissions> managerPermissions = ViewBag.managerPermissions;
    List<AttendanceManagement.Models.BossSettingPermissions> bossSettingPermissions = ViewBag.bossSettingPermissions;
    int d_index = 0;
    int j_index = 0;
    string color = "#000000";
}

<script type="text/javascript">
    window.onload = function () {
        var _offset = sessionStorage.getItem("toTop");
        $(document).scrollTop(_offset);
        sessionStorage.clear();
    };
</script>
<div class="main-content">
    <section class="section">
        <h1 class="section-header">
            <div>系統設定</div>
        </h1>
        @if (managerPermissions.Count == 0 || (managerPermissions[0].SettingDepartmentJobtitle == true && managerPermissions[0].SettingLocation == true) || (bossSettingPermissions[0].SettingDepartmentJobtitle==true && bossSettingPermissions[0].SettingLocation==true))
        {
            <div class="section-body">
                <div class="row">
                    <div class="col-12 col-sm-4 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <ul class="nav nav-pills flex-column" id="myTab2" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="home-tab4" data-toggle="tab" href="#home4" role="tab" aria-controls="home" aria-selected="true">部門設定</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="profile-tab4" data-toggle="tab" href="#profile4" role="tab" aria-controls="profile" aria-selected="false">職稱設定</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="GPS-tab4" data-toggle="tab" href="#GPS4" role="tab" aria-controls="GPS" aria-selected="false">打卡定位位置設定</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-8 col-lg-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="tab-content" id="myTab2Content">
                                            <div class="tab-pane fade show active" id="home4" role="tabpanel" aria-labelledby="home-tab4" style="width:100%; color: black;">
                                                <div class="d-flex">
                                                    <div class="mr-auto p-2">在此新增、更新、刪除部門</div>
                                                    <div class="p-2">
                                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal1">新增</button>
                                                    </div>
                                                </div>
                                                @foreach (var department in departments)
                                                {
                                                    <div class="d-flex">
                                                        <div class="mr-auto p-2">
                                                            @department.Name
                                                        </div>
                                                        <div class="p-2">
                                                            <button type="submit" onclick="set();" class="btn btn-outline-primary  btn-sm" data-toggle="modal" data-target="#exampleModal2.@department.DepartmentId" id="id" name="id" value="@department.DepartmentId"><i class="bi-pencil-square"></i></button>
                                                        </div>
                                                        <div class="p-2">
                                                            <button type="submit" onclick="set();" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal3.@department.DepartmentId" id="id" name="id" value="@department.DepartmentId" onclick="ShowValue()"><i class="bi-trash-fill"></i></button>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="tab-pane fade" id="profile4" role="tabpanel" aria-labelledby="profile-tab4" style="width:100%; color: black;">


                                                <div class="d-flex">
                                                    <div class="mr-auto p-2">在此新增、更新、刪除職稱</div>
                                                    <div class="p-2">
                                                        <button type="button" onclick="set();" class="btn btn-success" data-toggle="modal" data-target="#exampleModal4">新增</button>
                                                    </div>
                                                </div>

                                                @foreach (var jobtitle in jobTitles)
                                                {
                                                    <div class="d-flex">
                                                        <div class="mr-auto p-2">
                                                            @jobtitle.Name
                                                        </div>

                                                        <div class="p-2">
                                                            <button type="submit" onclick="set();" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal5.@jobtitle.JobTitleId" id="id" name="id" value="@jobtitle.JobTitleId"><i class="bi-pencil-square"></i></button>
                                                        </div>
                                                        <div class="p-2">
                                                            <button type="submit" onclick="set();" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal6.@jobtitle.JobTitleId" id="id" name="id" value="@jobtitle.JobTitleId"><i class="bi-trash-fill"></i></button>
                                                        </div>
                                                    </div>
                                                }
                                            </div>

                                            <div class="tab-pane fade" id="GPS4" role="tabpanel" aria-labelledby="GPS-tab4" style="width:100%; color: black;">

                                                <div class="d-flex">
                                                    <div class="mr-auto p-2">公司地址</div>
                                                    <div class="p-2">
                                                        <div class="p-2">
                                                            緯度：@companyAddresses[0].CoordinateX
                                                            、
                                                            經度：@companyAddresses[0].CoordinateY
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <div class="mr-auto p-2">
                                                        @companyAddresses[0].Address
                                                    </div>
                                                    <div class="p-2">
                                                        <button type="button" onclick="set();" class="btn btn-info" data-toggle="modal" data-target="#exampleModal7" style="background-color: #68A3FC;"><i class="bi-pencil-square"></i></button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (managerPermissions[0].SettingDepartmentJobtitle == false && managerPermissions[0].SettingLocation == false && bossSettingPermissions[0].SettingDepartmentJobtitle == false && bossSettingPermissions[0].SettingLocation == false)
        {
        }
        else
        {
            <div class="section-body">
                <div class="row">
                    <div class="col-12 col-sm-4 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <ul class="nav nav-pills flex-column" id="myTab2" role="tablist">
                                            @if (managerPermissions[0].SettingDepartmentJobtitle == true || bossSettingPermissions[0].SettingDepartmentJobtitle == true)
                                            {
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="home-tab4" data-toggle="tab" href="#home4" role="tab" aria-controls="home" aria-selected="true">部門設定</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="profile-tab4" data-toggle="tab" href="#profile4" role="tab" aria-controls="profile" aria-selected="false">職稱設定</a>
                                                </li>
                                            }
                                            @if (managerPermissions[0].SettingLocation == true || bossSettingPermissions[0].SettingLocation == true)
                                            {
                                                <li class="nav-item">
                                                    <a class="nav-link" id="GPS-tab4" data-toggle="tab" href="#GPS4" role="tab" aria-controls="GPS" aria-selected="false">打卡定位位置設定</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-sm-8 col-lg-9">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="tab-content" id="myTab2Content">
                                            @if (managerPermissions[0].SettingDepartmentJobtitle == true || bossSettingPermissions[0].SettingDepartmentJobtitle == true)
                                            {
                                                <div class="tab-pane fade show active" id="home4" role="tabpanel" aria-labelledby="home-tab4" style="width:100%; color: black;">
                                                    <div class="d-flex">
                                                        <div class="mr-auto p-2">在此新增、更新、刪除部門</div>
                                                        <div class="p-2">
                                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal1">新增</button>
                                                        </div>
                                                    </div>
                                                    @foreach (var department in departments)
                                                    {
                                                        <div class="d-flex">
                                                            <div class="mr-auto p-2">
                                                                @department.Name
                                                            </div>
                                                            <div class="p-2">
                                                                <button type="submit" onclick="set();" class="btn btn-outline-primary  btn-sm" data-toggle="modal" data-target="#exampleModal2.@department.DepartmentId" id="id" name="id" value="@department.DepartmentId"><i class="bi-pencil-square"></i></button>
                                                            </div>
                                                            <div class="p-2">
                                                                <button type="submit" onclick="set();" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal3.@department.DepartmentId" id="id" name="id" value="@department.DepartmentId" onclick="ShowValue()"><i class="bi-trash-fill"></i></button>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="tab-pane fade" id="profile4" role="tabpanel" aria-labelledby="profile-tab4" style="width:100%; color: black;">


                                                    <div class="d-flex">
                                                        <div class="mr-auto p-2">在此新增、更新、刪除職稱</div>
                                                        <div class="p-2">
                                                            <button type="button" onclick="set();" class="btn btn-success" data-toggle="modal" data-target="#exampleModal4">新增</button>
                                                        </div>
                                                    </div>

                                                    @foreach (var jobtitle in jobTitles)
                                                    {
                                                        <div class="d-flex">
                                                            <div class="mr-auto p-2">
                                                                @jobtitle.Name
                                                            </div>

                                                            <div class="p-2">
                                                                <button type="submit" onclick="set();" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal5.@jobtitle.JobTitleId" id="id" name="id" value="@jobtitle.JobTitleId"><i class="bi-pencil-square"></i></button>
                                                            </div>
                                                            <div class="p-2">
                                                                <button type="submit" onclick="set();" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal6.@jobtitle.JobTitleId" id="id" name="id" value="@jobtitle.JobTitleId"><i class="bi-trash-fill"></i></button>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            }
                                            @if (managerPermissions[0].SettingLocation == true || bossSettingPermissions[0].SettingLocation == true)
                                            {
                                                <div class="tab-pane fade" id="GPS4" role="tabpanel" aria-labelledby="GPS-tab4" style="width:100%; color: black;">

                                                    <div class="d-flex">
                                                        <div class="mr-auto p-2">公司地址</div>
                                                        <div class="p-2">
                                                            <div class="p-2">
                                                                緯度：@companyAddresses[0].CoordinateX
                                                                、
                                                                經度：@companyAddresses[0].CoordinateY
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-end">
                                                        <div class="mr-auto p-2">
                                                            @companyAddresses[0].Address
                                                        </div>
                                                        <div class="p-2">
                                                            <button type="button" onclick="set();" class="btn btn-info" style="background-color: #68A3FC;" data-toggle="modal" data-target="#exampleModal7"><i class="bi-pencil-square"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }




        <div class="section-body">
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>變更後台登入密碼</h4>
                        </div>

                        <div class="card-body">
                            @using (Html.BeginForm("ChangeCompanyPassword", "Setting", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()


                                <div class="row">
                                    <div class="col-lg-auto col-md-10 col-12">
                                        新後台登入密碼：
                                        <input id="NewPassword" required name="NewPassword" class="form-control" type="password" placeholder="請輸入新密碼" aria-label="Search">
                                    </div>
                                    <div class="col-lg-auto col-md-10 col-12">
                                        確認密碼：
                                        <input id="NewPassword2" required name="NewPassword2" class="form-control" type="password" placeholder="請輸入新密碼" aria-label="Search">
                                    </div>
                                    <div class="col-lg-auto col-md-2 col-12">
                                        <button onclick="set();" class="btn btn-info" type="submit" style="background-color: #68A3FC;">修改</button>
                                    </div>
                                </div>}
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
        @if (managerPermissions.Count == 0 || managerPermissions[0].SettingWorktime == true  || bossSettingPermissions[0].SettingWorktime == true)
        {
            <div class="section-body">
                <div class="row">
                    <div class="col-12 col-sm-5 col-lg-4">

                        <div class="card card-primary">
                            <div class="card-header">
                                <div class="row" style="margin:0px 10px 0px 0px;">
                                    <div class="col" id="CenterSet">
                                        <h4 style="margin:0px 0px 0px -15px;">上下班時間設定</h4>
                                    </div>

                                </div>
                            </div>
                            <hr style="margin: -10px 20px 0px 20px" />

                            <div class="card-body" id="SettingEmployeeWorkTime">
                                <div style="height: 345px; overflow-y: auto;overflow-x:hidden;">
                                    @foreach (var department in departments)
                                    {
                                        j_index = 0;
                                        <div>
                                            <div class="row align-items-center" id="topborder">
                                                <div class="col" id="CenterSet" style="font-size:14px;" data-toggle="collapse" data-target="#multiCollapseExample_@d_index" aria-expanded="false" aria-controls="multiCollapseExample_@d_index">
                                                    @department.Name
                                                </div>

                                                <div class="float-right" id="CenterSet" style="height:35px">
                                                    @*<select class="form-select form-select-sm" aria-label=".form-select-sm example" onchange="SelectClass('ClassSelectTop_@d_index',@jobTitles.Count(),@d_index);" id="ClassSelectTop_@d_index" style="margin: 5px; border: 1px solid #EDEEEF; border-radius: 4px;">
                                                        <option value="" selected></option>
                                                        @foreach (var generalWorktime in generalWorktimes)
                                                        {
                                                            <option value="@generalWorktime.GeneralWorktimeId">@generalWorktime.Name</option>
                                                        }
                                                        @foreach (var flexibleWorktime in flexibleWorktimes)
                                                        {
                                                            <option value="@flexibleWorktime.FlexibleWorktimeId">@flexibleWorktime.Name</option>
                                                        }
                                                    </select>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="collapse multi-collapse show" id="multiCollapseExample_@d_index">
                                            @foreach (var jobTitle in jobTitles)
                                            {
                                                foreach (var employeeWorkTime in employeeWorkTimes)
                                                {
                                                    if (department.DepartmentId == employeeWorkTime.DepartmentId && jobTitle.JobTitleId == employeeWorkTime.JobtitleId)
                                                    {
                                                        <div>
                                                            <div class="row align-items-center" id="contentborder">
                                                                <div class="col" id="CenterSet" style="font-size:14px">
                                                                    @jobTitle.Name
                                                                </div>
                                                                <div class="float-right" id="CenterSet">
                                                                    @using (Html.BeginForm("UpdateEmployeeWorkTime", "Setting", new { n_department = employeeWorkTime.DepartmentId, n_jobtitle = employeeWorkTime.JobtitleId }, FormMethod.Post, new { id = "changee_mployee_worktime" }))
                                                                    {
                                                                        if ((generalWorktimes.FindIndex(item => item.GeneralWorktimeId.Equals(employeeWorkTime.WorktimeId))) != -1)
                                                                        {
                                                                            color = generalWorktimes[(generalWorktimes.FindIndex(item => item.GeneralWorktimeId.Equals(employeeWorkTime.WorktimeId)))].Color;
                                                                        }
                                                                        else if ((flexibleWorktimes.FindIndex(item => item.FlexibleWorktimeId.Equals(employeeWorkTime.WorktimeId)))!=-1)
                                                                        {
                                                                            color = flexibleWorktimes[(flexibleWorktimes.FindIndex(item => item.FlexibleWorktimeId.Equals(employeeWorkTime.WorktimeId)))].Color;
                                                                        }
                                                                    <select name="updateworktime" class=" form-select form-select-sm select" aria-label=".form-select-sm example" id="ClassSelectContent_@j_index@d_index" style="color:@color;margin: 5px; border: 1px solid #EDEEEF; border-radius: 4px;" onchange="this.className=this.options[this.selectedIndex].className;set();$(this.form).submit()">
                                                                        <option value="" selected></option>
                                                                        @foreach (var generalWorktime in generalWorktimes)
                                                                        {
                                                                            if (employeeWorkTime.WorktimeId == generalWorktime.GeneralWorktimeId)
                                                                            {
                                                                                <option value="@generalWorktime.GeneralWorktimeId" class="coloroptionS" selected style="color:@generalWorktime.Color;">@generalWorktime.Name</option>
                                                                            }
                                                                            else
                                                                            {
                                                                                <option value="@generalWorktime.GeneralWorktimeId" class="coloroptionS" style="color:@generalWorktime.Color;">@generalWorktime.Name</option>
                                                                            }
                                                                        }
                                                                        @foreach (var flexibleWorktime in flexibleWorktimes)
                                                                        {
                                                                            if (employeeWorkTime.WorktimeId == flexibleWorktime.FlexibleWorktimeId)
                                                                            {
                                                                                <option value="@flexibleWorktime.FlexibleWorktimeId" class="coloroptionS" selected style="color:@flexibleWorktime.Color;">@flexibleWorktime.Name</option>
                                                                            }
                                                                            else
                                                                            {
                                                                                <option value="@flexibleWorktime.FlexibleWorktimeId" class="coloroptionS" style="color:@flexibleWorktime.Color;">@flexibleWorktime.Name</option>
                                                                            }
                                                                        }

                                                                    </select>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                j_index++;
                                            }
                                        </div>
                                        d_index++;
                                    }
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-12 col-sm-7 col-lg-8">
                        <div class="card">
                            <div class="card-header">
                                <div class="row" style="margin:0px 10px 0px 0px;">
                                    <div class="col-8" id="CenterSet">

                                        <select class=" form-select form-select-sm" id="worktimeselect" onchange="this.className=this.options[this.selectedIndex].className;showvalue(this[selectedIndex].value);this.size=1;" this.blur();" aria-label=".form-select-sm example" onfocus='this.size=4;' onblur='this.size=1;'>
                                            <option value="0"></option>
                                            @foreach (var generalWorktime in generalWorktimes)
                                            {
                                                <option value="@generalWorktime.GeneralWorktimeId" class="coloroption" style="color:@generalWorktime.Color;">@generalWorktime.Name</option>
                                            }
                                            @foreach (var flexibleWorktime in flexibleWorktimes)
                                            {
                                                <option value="@flexibleWorktime.FlexibleWorktimeId" class="coloroption" style="color:@flexibleWorktime.Color;">@flexibleWorktime.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <div class="row" style="float:right;">
                                            <button name="delete" type="button" onclick="set()" class="btn btn-danger btn-sm" data-toggle="modal" id="deletebutton" data-target="#DeleteWorkTime" style="opacity: 0.9; display: none; border-radius: 4px; margin: 5px;"><i class="bi-trash-fill" style="margin: 0px auto;  "></i></button>
                                            <button type="submit" class="btn btn-danger btn-sm" onclick="showFunction()" style="opacity: 0.9; background-color: #32CD32; border: 1px solid #32CD32; font-size: 25px; border-radius: 4px; margin: 5px;">+</button>
                                        </div>
                                    </div>
                                </div>
                                <hr style="margin: 10px 20px 0px 20px" />
                                <div class="card-body">
                                    @*編輯一般*@
                                    @foreach (var generalWorktime in generalWorktimes)
                                    {
                                        using (Html.BeginForm("EditWorktime", "Setting", new { id = generalWorktime.GeneralWorktimeId, old_state = "tab2_" + generalWorktime.GeneralWorktimeId }, FormMethod.Post))
                                        {
                                            <div id="tab_@generalWorktime.GeneralWorktimeId" class="col align-self-center" style="margin:0 auto;text-align:center;display:none;">
                                                <div class="p-2">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="row">
                                                                <div>群組名稱 : </div>
                                                                <input name="Name" value="@generalWorktime.Name" class="form-control" type="text" placeholder="請輸入群組名稱" aria-label="Search" id="inputsetting" style="font-size: 14px;">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="row">
                                                                <div>模式設定 : </div>

                                                                <select name="auditstate" onchange="showinfo2(this[selectedIndex].value)" id="inputsetting" style="font-size:14px;border: 1px solid #EDEEEF; border-radius: 4px;padding:0px 0px 0px 12px;">
                                                                    <option selected value="tab2_@generalWorktime.GeneralWorktimeId">一般</option>
                                                                    <option value="tab2_editelasticity_@generalWorktime.GeneralWorktimeId">彈性</option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="tab2_@generalWorktime.GeneralWorktimeId">
                                                    <div class="p-2">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div>開始時間 : </div>
                                                                    <input value="@generalWorktime.WorkTime" class="form-control" id="WorkTime" name="WorkTime" type="time" placeholder="" style="font-size: 14px; width: 72%; margin: 0px 0px 0px 10px;" aria-label="Search">
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div>結束時間 : </div>
                                                                    <input value="@generalWorktime.RestTime" class="form-control" id="RestTime" name="RestTime" type="time" placeholder="" style="font-size: 14px; width: 72%; margin: 0px 0px 0px 10px;" aria-label="Search">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="p-2">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div>休息時間設定 : </div>
                                                                    <input name="BreakTime" value="@generalWorktime.BreakTime" oninput="value=value.replace(/[^\d]/g,'')" id="BreakTime" class="form-control" type="text" placeholder="請輸入休息時間" aria-label="Search" style="font-size: 14px; width: 50%; margin: 0px 5px 0px 5px">
                                                                    <div>分鐘</div>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div id="colorVal">選擇顏色 : </div>
                                                                    <input name="color" type="color" value="@generalWorktime.Color" id="editgeneralcolor3214" style="width: 25%; border: 1px solid #EDEEEF; margin: 0px 0px 0px 10px; border-radius: 4px; ">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="p-2">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row" style="float:right">
                                                                    <button class="btn btn-danger" type="button" onclick="set();window.location.reload();" id="workonoffbutton" style="opacity:0.9;">取消</button>
                                                                    <button class="btn btn-info" type="button" onclick="set(); $(this.form).submit()" id="workonoffbutton" style="opacity: 0.9; background-color: #68A3FB; border: 1px solid #7298FF;">儲存</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="tab2_editelasticity_@generalWorktime.GeneralWorktimeId" style="display:none;">
                                                    <div class="p-1">
                                                        <div class="row">
                                                            <b style="float:left;margin:0px 0px 0px 12px;">上班打卡時間設定</b>
                                                        </div>
                                                    </div>
                                                    <div class="p-2">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div>開始時間 : </div>
                                                                    <input value="@generalWorktime.WorkTime" class="form-control" id="WorkTimeStart" name="WorkTimeStart" type="time" placeholder="" style="font-size: 14px; width: 72%; margin: 0px 0px 0px 10px;" aria-label="Search">
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div>結束時間 : </div>
                                                                    <input value="@generalWorktime.WorkTime" class="form-control" id="WorkTimeEnd" name="WorkTimeEnd" type="time" placeholder="" style="font-size: 14px; width: 72%; margin: 0px 0px 0px 10px;" aria-label="Search">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="p-2">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="row">
                                                                    <div>休息時間設定 : </div>
                                                                    <input name="BreakTime2" class="form-control" type="text" oninput="value=value.replace(/[^\d]/g,'')" placeholder="請輸入休息時間" aria-label="Search" style="font-size: 14px; width: 50%; margin: 0px 5px 0px 5px">
                                                                    <div>分鐘</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="row">
                                                                    <div id="colorVal">選擇顏色 : </div>
                                                                    <input name="color2"type="color" value="@generalWorktime.Color" id="editelasticitycolor" style="width: 25%; border: 1px solid #EDEEEF; margin: 0px 0px 0px 10px; border-radius: 4px; ">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="p-1">
                                                        <div class="row">
                                                            <b style="float:left;margin:0px 0px 0px 12px;">下班打卡時間設定</b>
                                                        </div>
                                                    </div>
                                                    <div class="p-2">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div>開始時間 : </div>
                                                                    <input value="@generalWorktime.RestTime" class="form-control" id="RestTimeStart" name="RestTimeStart" type="time" placeholder="" style="font-size: 14px; width: 72%; margin: 0px 0px 0px 10px;" aria-label="Search">
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div>結束時間 : </div>
                                                                    <input value="@generalWorktime.RestTime" class="form-control" id="RestTimeEnd" name="RestTimeEnd" type="time" placeholder="" style="font-size: 14px; width: 72%; margin: 0px 0px 0px 10px;" aria-label="Search">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="p-2">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row" style="float:right">
                                                                    <button class="btn btn-danger" type="button" onclick="set();window.location.reload();" id="workonoffbutton" style="opacity:0.9;">取消</button>
                                                                    <button class="btn btn-info" type="button" onclick="set(); $(this.form).submit()" id="workonoffbutton" style="opacity: 0.9; background-color: #68A3FB; border: 1px solid #7298FF;">儲存</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    @*編輯彈性*@
                                    @foreach (var flexibleWorktime in flexibleWorktimes)
                                    {
                                        using (Html.BeginForm("EditWorktime", "Setting", new { id = flexibleWorktime.FlexibleWorktimeId, old_state = "tab2_" + flexibleWorktime.FlexibleWorktimeId }, FormMethod.Post))
                                        {
                                            <div id="tab_@flexibleWorktime.FlexibleWorktimeId" class="col align-self-center" style="margin:0 auto;text-align:center;display:none;">
                                                <div class="p-2">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="row">
                                                                <div>群組名稱 : </div>
                                                                <input name="Name" value="@flexibleWorktime.Name" class="form-control" type="text" placeholder="請輸入群組名稱" aria-label="Search" id="inputsetting" style="font-size: 14px;">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="row">
                                                                <div>模式設定 : </div>

                                                                <select name="auditstate" onchange="showinfo2(this[selectedIndex].value)" id="inputsetting" style="font-size:14px;border: 1px solid #EDEEEF; border-radius: 4px;padding:0px 0px 0px 12px;">
                                                                    <option value="tab2_editgeneral_@flexibleWorktime.FlexibleWorktimeId">一般</option>
                                                                    <option selected value="tab2_@flexibleWorktime.FlexibleWorktimeId">彈性</option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="tab2_@flexibleWorktime.FlexibleWorktimeId">
                                                    <div class="p-1">
                                                        <div class="row">
                                                            <b style="float:left;margin:0px 0px 0px 12px;">上班打卡時間設定</b>
                                                        </div>
                                                    </div>
                                                    <div class="p-2">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div>開始時間 : </div>
                                                                    <input value="@flexibleWorktime.WorkTimeStart" class="form-control" id="WorkTimeStart" name="WorkTimeStart" type="time" placeholder="" style="font-size: 14px; width: 72%; margin: 0px 0px 0px 10px;" aria-label="Search">
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div>結束時間 : </div>
                                                                    <input value="@flexibleWorktime.WorkTimeEnd" class="form-control" id="WorkTimeEnd" name="WorkTimeEnd" type="time" placeholder="" style="font-size: 14px; width: 72%; margin: 0px 0px 0px 10px;" aria-label="Search">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="p-2">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="row">
                                                                    <div>休息時間設定 : </div>
                                                                    <input name="BreakTime2" value="@flexibleWorktime.BreakTime" class="form-control" type="text" placeholder="請輸入休息時間" aria-label="Search" style="font-size: 14px; width: 50%; margin: 0px 5px 0px 5px">
                                                                    <div>分鐘</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="row">
                                                                    <div id="colorVal">選擇顏色 : </div>
                                                                    <input name="color2" type="color" id="editelasticitycolor" value="@flexibleWorktime.Color" style="width: 25%; border: 1px solid #EDEEEF;margin:0px 0px 0px 10px;border-radius:4px;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="p-1">
                                                        <div class="row">
                                                            <b style="float:left;margin:0px 0px 0px 12px;">下班打卡時間設定</b>
                                                        </div>
                                                    </div>
                                                    <div class="p-2">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div>開始時間 : </div>
                                                                    <input value="@flexibleWorktime.RestTimeStart" class="form-control" id="RestTimeStart" name="RestTimeStart" type="time" placeholder="" style="font-size: 14px; width: 72%; margin: 0px 0px 0px 10px;" aria-label="Search">
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div>結束時間 : </div>
                                                                    <input value="@flexibleWorktime.RestTimeEnd" class="form-control" id="RestTimeEnd" name="RestTimeEnd" type="time" placeholder="" style="font-size: 14px; width: 72%; margin: 0px 0px 0px 10px;" aria-label="Search">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="p-2">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row" style="float:right">
                                                                    <button class="btn btn-primary" type="button" id="workonoffbutton" style="opacity: 0.9; background-color: #F24C4C; border: 1px solid #F24C4C;" onclick="set(); window.location.reload();">取消</button>
                                                                    <button class="btn btn-primary" type="button" id="workonoffbutton" onclick="set();$(this.form).submit()" style="opacity: 0.9; background-color: #68A3FB; border: 1px solid #7298FF;">儲存</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="tab2_editgeneral_@flexibleWorktime.FlexibleWorktimeId" style="display:none;">
                                                    <div class="p-2">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div>開始時間 : </div>
                                                                    <input value="@flexibleWorktime.WorkTimeStart" class="form-control" id="WorkTime" name="WorkTime" type="time" placeholder="" style="font-size: 14px; width: 72%; margin: 0px 0px 0px 10px;" aria-label="Search">
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div>結束時間 : </div>
                                                                    <input value="@flexibleWorktime.RestTimeStart" class="form-control" id="RestTime" name="RestTime" type="time" placeholder="" style="font-size: 14px; width: 72%; margin: 0px 0px 0px 10px;" aria-label="Search">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="p-2">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div>休息時間設定 : </div>
                                                                    <input name="BreakTime" class="form-control" type="text" placeholder="請輸入休息時間" aria-label="Search" style="font-size: 14px; width: 50%; margin: 0px 5px 0px 5px">
                                                                    <div>分鐘</div>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div id="colorVal">選擇顏色 : </div>
                                                                    <input name="color" type="color" id="editgeneralcolor" value="@flexibleWorktime.Color" style="width: 25%; border: 1px solid #EDEEEF; margin: 0px 0px 0px 10px; border-radius: 4px; ">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="p-2">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row" style="float:right">
                                                                    <button class="btn btn-danger" type="button" onclick="set();window.location.reload();" id="workonoffbutton" style="opacity:0.9;">取消</button>
                                                                    <button class="btn btn-info" type="button" onclick="set(); $(this.form).submit()" id="workonoffbutton" style="opacity: 0.9; background-color: #68A3FB; border: 1px solid #7298FF;">儲存</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        }
                                    }

                                    @*新增*@
                                    @using (Html.BeginForm("AddWorktime", "Setting", FormMethod.Post))
                                    {
                                        <div class="col align-self-center" id="WorkSettingbody" style="margin:0 auto;text-align:center;display:none;">
                                            <div class="p-2">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div>群組名稱 : </div>
                                                            <input name="Name" class="form-control" type="text" placeholder="請輸入群組名稱" aria-label="Search" id="inputsetting" style="font-size: 14px;" required>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="row">
                                                            <div>模式設定 : </div>

                                                            <select name="auditstate" onchange="showinfo(this[selectedIndex].value)" id="inputsetting" style="font-size:14px;border: 1px solid #EDEEEF; border-radius: 4px;padding:0px 0px 0px 12px;">
                                                                <option selected value="1">一般</option>
                                                                <option value="2">彈性</option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="general">
                                                <div class="p-2">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="row">
                                                                <div>開始時間 : </div>
                                                                <input class="form-control" id="WorkTime" name="WorkTime" type="time" placeholder="" style="font-size: 14px; width: 72%; margin: 0px 0px 0px 10px;" aria-label="Search" value="@company_Times.WorkTime">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="row">
                                                                <div>結束時間 : </div>
                                                                <input class="form-control" id="RestTime" name="RestTime" type="time" placeholder="" style="font-size: 14px; width: 72%; margin: 0px 0px 0px 10px;" aria-label="Search" value="@company_Times.RestTime">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-2">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="row">
                                                                <div>休息時間設定 : </div>
                                                                <input name="BreakTime" class="form-control" type="text" placeholder="請輸入休息時間" aria-label="Search" style="font-size: 14px; width: 50%; margin: 0px 5px 0px 5px">
                                                                <div>分鐘</div>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="row">
                                                                <div>選擇顏色 : </div>
                                                                <input name="color" type="color" id="newgeneralcolor" value="#68A3FB" style="width: 25%; border: 1px solid #EDEEEF;margin:0px 0px 0px 10px;border-radius:4px;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-2">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="row" style="float:right">
                                                                <button class="btn btn-info" type="button" id="workonoffbutton" onclick="hideFunction()" style="opacity: 0.9; background-color: #F24C4C; border: 1px solid #F24C4C;">取消</button>
                                                                <button class="btn btn-info" type="submit" id="workonoffbutton" onclick="set();" style="opacity: 0.9; background-color: #68A3FB; border: 1px solid #7298FF;">儲存</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="elasticity" style="display:none;">
                                                <div class="p-1">
                                                    <div class="row">
                                                        <b style="float:left;margin:0px 0px 0px 12px;">上班打卡時間設定</b>
                                                    </div>
                                                </div>
                                                <div class="p-2">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="row">
                                                                <div>開始時間 : </div>
                                                                <input class="form-control" id="WorkTimeStart" name="WorkTimeStart" type="time" placeholder="" style="font-size: 14px; width: 72%; margin: 0px 0px 0px 10px;" aria-label="Search" value="@company_Times.WorkTime">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="row">
                                                                <div>結束時間 : </div>
                                                                <input class="form-control" id="WorkTimeEnd" name="WorkTimeEnd" type="time" placeholder="" style="font-size: 14px; width: 72%; margin: 0px 0px 0px 10px;" aria-label="Search" value="@company_Times.RestTime">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-2">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="row">
                                                                <div>休息時間設定 : </div>
                                                                <input name="BreakTime2" class="form-control" type="text" placeholder="請輸入休息時間" aria-label="Search" style="font-size: 14px; width: 50%; margin: 0px 5px 0px 5px">
                                                                <div>分鐘</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="row">
                                                                <div id="colorVal">選擇顏色 : </div>
                                                                <input name="color2" type="color" id="newflexiblecolor" value="#68A3FB" style="width: 25%; border: 1px solid #EDEEEF; margin: 0px 0px 0px 10px; border-radius: 4px; ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-1">
                                                    <div class="row">
                                                        <b style="float:left;margin:0px 0px 0px 12px;">下班打卡時間設定</b>
                                                    </div>
                                                </div>
                                                <div class="p-2">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="row">
                                                                <div>開始時間 : </div>
                                                                <input class="form-control" id="RestTimeStart" name="RestTimeStart" type="time" placeholder="" style="font-size: 14px; width: 72%; margin: 0px 0px 0px 10px;" aria-label="Search" value="@company_Times.WorkTime">
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="row">
                                                                <div>結束時間 : </div>
                                                                <input class="form-control" id="RestTimeEnd" name="RestTimeEnd" type="time" placeholder="" style="font-size: 14px; width: 72%; margin: 0px 0px 0px 10px;" aria-label="Search" value="@company_Times.RestTime">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="p-2">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="row" style="float:right">
                                                                <button class="btn btn-danger" type="button" onclick="hideFunction();" id="workonoffbutton" style="opacity:0.9;">取消</button>
                                                                <button class="btn btn-info" type="submit" onclick="set();" id="workonoffbutton" style="opacity: 0.9; background-color: #68A3FB; border: 1px solid #7298FF;">儲存</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }



        @*
        <div class="col-12 col-sm-12 col-lg-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h4>下上班逾時打卡設定</h4>
                </div>

                <div class="card-body">

                    <form class="form-inline mr-auto">
                        <div class="row">
                            <div class="col-lg-auto col-md-3 col-3">
                                上下班逾時禁止打卡：
                            </div>
                            <div class="col-lg-auto col-md-2 col-12">
                                <label class="switch">
                                    <input type="checkbox" id="togBtn">
                                    <div class="slider round">
                                        <span class="on">是</span>
                                        <span class="off">否</span>
                                    </div>
                                </label>
                            </div>
                            <div class="col-lg-auto col-md-5 col-12" style="color: grey;">
                                *若開啟，上下班30分後打卡，需要後台許可app顯示該筆紀錄。
                            </div>
                            <div class="col-lg-auto col-md-1 col-12">
                                <button class="btn btn-primary" type="submit">修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        *@

    </section>
    </div>

        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">新增部門</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @using (Html.BeginForm("AddDepartment", "Setting", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">部門名稱：</label>
                                <input type="text" class="form-control" id="department_name" name="department_name" required>
                            </div>
                            <div class="modal-footer">
                                <button id="Button" name="Button" value="CloseButton" type="submit" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                <button id="Button" name="Button" value="AddButton" type="submit" class="btn btn-success">新增</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>


        @foreach (var department in departments)
        {
            <div class="modal fade" id="exampleModal2.@department.DepartmentId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">部門名稱修改</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        @using (Html.BeginForm("EditDepartment", "Setting",new { id=department.DepartmentId}, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">更改部門名稱：</label>
                                    <input type="text" id="department_name" name="department_name" class="form-control" value="@department.Name" required>
                                </div>
                                <div class="modal-footer">
                                    <button id="Button" name="Button" value="CloseButton" type="submit" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                    <button id="Button" name="Button" value="EditButton" type="submit" class="btn btn-success">更新</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        @foreach (var department in departments)
        {
            <div class="modal fade" id="exampleModal3.@department.DepartmentId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">確定要刪除此部門名稱?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        @using (Html.BeginForm("DeleteDepartment", "Setting", new { id = department.DepartmentId }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="modal-body">
                                <div class="modal-footer">
                                    <button id="Button" name="Button" value="CloseButton" type="submit" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                    <button id="Button" name="Button" value="DeleteButton" type="submit" class="btn btn-danger">刪除</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }

            <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">新增職稱</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("AddJobtitle", "Setting", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">職稱：</label>
                                    <input type="text" class="form-control" id="jobtitle_name" name="jobtitle_name" required>
                                </div>
                                <div class="modal-footer">
                                    <button id="Button" name="Button" value="CloseButton" type="submit" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                    <button id="Button" name="Button" value="AddButton" type="submit" class="btn btn-success">新增</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            @foreach (var jobtitle in jobTitles)
            {
                <div class="modal fade" id="exampleModal5.@jobtitle.JobTitleId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">更改職稱名稱</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("EditJobtitle", "Setting", new { id = jobtitle.JobTitleId }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">更改職稱名稱：</label>
                                        <input type="text" class="form-control" id="jobtitle_name" name="jobtitle_name" value="@jobtitle.Name" required>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="Button" name="Button" value="CloseButton" type="submit" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                        <button id="Button" name="Button" value="EditButton" type="submit" class="btn btn-success">更新</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            @foreach (var jobtitle in jobTitles)
            {
                <div class="modal fade" id="exampleModal6.@jobtitle.JobTitleId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">確定要刪除此職稱?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("DeleteJobtitle", "Setting", new { id = jobtitle.JobTitleId }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="modal-footer">
                                        <button id="Button" name="Button" value="CloseButton" type="submit" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                        <button id="Button" name="Button" value="DeleteButton" type="submit" class="btn btn-danger">刪除</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="modal fade" id="DeleteWorkTime" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">確定要刪除此設定?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("DeleteWorktime", "Setting", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="modal-footer">
                                    <button id="Button" name="Button" value="CloseButton" type="submit" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                    <button id="DeleteWorkTimeButton" name="DeleteId"  type="submit" class="btn btn-danger">刪除</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">打卡定位位置設定</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        @using (Html.BeginForm("EditAddress", "Setting", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">公司地址：</label>
                                        <input type="text" class="form-control" id="address" name="address" required autofocus value="@companyAddresses[0].Address">
                                    </div>

                                    @*<div class="form-group">
                                <label for="message-text" class="col-form-label">半徑(公尺)：</label>
                                <input type="text" class="form-control" id="message-text">
                            </div>
*@
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                                <button type="submit" id="Button" name="Button" value="RenewButton" class="btn btn-success">更新</button>
                            </div>
                        </div>
                    }
                    </div>
            </div>
        </div>


            <script type="text/javascript">
                function colorFunction() {
                    var x = document.getElementById("editgeneralcolor3214").value;
                    document.getElementById("inputsetting1234").value = x
                    //document.getElementsByClassName("coloroption_" + 1)[0].style.color = x; //主要是改1,[0]是固定的
                    //document.getElementsByClassName("coloroptionS_" + 1)[0].style.color = x; //主要是改1,[0]是固定的
                }
                function SelectClass(values1, values, values2) {
                    var x = document.getElementById(values1).selectedIndex;
                    for (i = 0; i < values; i++) {
                        document.forms["changee_mployee_worktime"].submit();

                        document.getElementById("ClassSelectContent_" + i + values2).options[x].selected = true;
                    }
                }
            </script>
            <script type="text/javascript">
                function set()
                {
                    sessionStorage.removeItem("toTop");
                    sessionStorage.setItem("toTop", $(window).scrollTop());
                }
                function showinfo(values) {
                    if (values == 1) {
                        $("#elasticity").css("display", "none");
                        $("#general").css("display", "block");
                    }
                    else if (values == 2) {
                        $("#general").css("display", "none");
                        $("#elasticity").css("display", "block");
                    }

                }
                function showinfo2(values) {
                    var z = document.getElementById(values);
                    $('div[id^="tab2_"]').hide();
                    z.style.display = "block";
                }
                function showvalue(values) {
                    var y = document.getElementById("WorkSettingbody");
                    var z = document.getElementById("tab_" + values);
                    var x = document.getElementById("tab2_" + values);
                    document.getElementById("DeleteWorkTimeButton").value = values;
                    if (values == 0) {
                        $("#deletebutton").css("display", "none");
                        $('div[id^="tab_"]').hide();
                    } else
                    { 
                    $("#deletebutton").css("display", "block");
                    $('div[id^="tab_"]').hide();
                    y.style.display = "none";
                    z.style.display = "block";
                    x.style.display = "block";
                    }
                }
            </script>
            <script>
                function BackFunction() {
                    /*var x = document.getElementById(values);*/
                   /* var a = document.getElementById("Name");*/
                    var b = document.getElementById("WorkTime");
                    var c = document.getElementById("RestTime");
                    var d = document.getElementById("BreakTime");
                    ///*document.getElementById("inputsetting").options[0].selected = true;*/
                    /*$('div[id^="tab2_"]').hide();*/
                    /*x.style.display = "block";*/
                   /* a.value = a.defaultValue;*/
                    b.value = b.defaultValue;
                    c.value = c.defaultValue;
                    d.value = d.defaultValue;
                }
                function hideFunction() {
                    var x = document.getElementById("WorkSettingbody");
                    document.getElementById("worktimeselect").options[0].selected = true;
                    if (x.style.display === "none") {
                        x.style.display = "block";
                        $('div[id^="tab_"]').hide();
                    } else {
                        x.style.display = "none";
                    }
                }
                function showFunction() {
                    var x = document.getElementById("WorkSettingbody");
                    $("#deletebutton").css("display", "none");
                    document.getElementById("worktimeselect").options[0].selected = true;
                    if (x.style.display === "none") {
                        x.style.display = "block";
                        $('div[id^="tab_"]').hide();
                    } 
                }
            </script>
            <script>
               
      $('#exampleModal1').on('bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

       var itemA = '<%=@foreach (var department in departments) { @department.DepartmentId} %>'

        $('#exampleModal2.itemA).on('bs.modal', function(event) {
                var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

        $('#exampleModal3.itemA').on('bs.modal', function (event) {
        var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

        $('#exampleModal4').on('bs.modal', function (event) {
        var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

        var itemB = '<%=@foreach (var jobtitle in jobTitles) { @jobtitle.JobTitleId} %>'

        $('#exampleModal5.itemB').on('bs.modal', function (event) {
        var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

        $('#exampleModal6.itemB').on('bs.modal', function (event) {
        var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)

            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

        $('#exampleModal7').on('bs.modal', function (event) {
        var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })
            </script>


