
@{
    ViewBag.Title = "員工管理";
    List<AttendanceManagement.Models.Manager> managers = ViewBag.managers;//公司全部的管理員
    List<AttendanceManagement.Models.Department> departments = ViewBag.department;//部門
    List<AttendanceManagement.Models.JobTitle> jobTitles = ViewBag.jobtitle;//職稱
    List<AttendanceManagement.Models.ReviewEmployee> reviewEmployees = ViewBag.review_employee; //待審核資料
    List<AttendanceManagement.Models.PassEmployee> passEmployees = ViewBag.pass_employee; //已審核資料(會變動的資料，有可能是全部也可能是篩選後)
    List<AttendanceManagement.Models.PassEmployee> all_passEmployees = ViewBag.all_passemployee; //全部的已審核資料(不會變動)
    int num1 = passEmployees.Count == 0 ? 1 : passEmployees.Count;
    int endpage = (num1 / 10) + 1;
    int endpageint = (num1 / 10);
    int pagecount = 0;
}

<style>

    #editbutton {
        background-color: #E8ECFF;
    }

        #editbutton:hover {
            background-color: #E8ECFF;
        }

    #editimage {
        color: #68A3FC;
    }

        #editimage:hover {
            color: #68A3FC;
        }

    #spanPre {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #68a3fc;
        background-color: #fff;
        border: 1px solid #ededed;
    }

    #spanNext {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #68a3fc;
        background-color: #fff;
        border: 1px solid #ededed;
    }
</style>
<script type="text/javascript">
    window.onload = function () {
        if (sessionStorage.getItem("search")) {
            document.getElementById('cancelbutton').style.display = "inline-block";
        } else {
            document.getElementById('cancelbutton').style.display = "none";
        }
        var _offset = sessionStorage.getItem("toTop");
        $(document).scrollTop(_offset);
        sessionStorage.clear();
        if (@num1 < 10)
        {
           nextOff();
           preOff();
        }
       
      
    };
</script>
<div class="main-content">
    <section class="section">
        <h3 class="page_name">
            <img class="nav_logo5" src="~/Content/images/user.png">&nbsp;員工管理
        </h3>

        <div class="section-body" style="margin-top:25px">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>待審核-員工帳號</h4>
                        </div>

                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th>員工姓名</th>
                                        <th>E-mail</th>
                                        <th>驗證碼(phone code)</th>
                                        <th>申請時間</th>
                                        <th>審核</th>
                                    </tr>

                                    @foreach (var reviewData in reviewEmployees)
                                    {
                                        <tr>
                                            <td class="rowBorderMiddle">  <a href="#"><img src="~/Content/images/avatar.png" alt="avatar" width="30" class="rounded-circle mr-1">@reviewData.Name </a> </td>
                                            <td class="rowBorderMiddle">@reviewData.Email</td>
                                            <td class="rowBorderMiddle">@reviewData.PhoneCode</td>
                                            <td class="rowBorderMiddle">@reviewData.CreatedTime</td>
                                            @*
                                                <td>
                                                    <a href="/EmployeeData/Check?id=@reviewData.HashAccount" class="btn btn-danger btn-action" data-toggle="tooltip" title="Edit"><i class="bi-check2-circle"></i></a>
                                                </td>
                                            *@
                                            <td class="rowBorderEnd">
                                                <button type="button" class="btn2 btn2-primary btn2-action" data-toggle="modal" data-target="#@reviewData.HashAccount"><i class="bi-pencil-square"></i></button>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @using (Html.BeginForm("SearchEmployee", "EmployeeData", FormMethod.Get))
        {

            <form class="form-inline mr-auto">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <label class="form-inline">
                            <i class="bi-sliders"></i> 部門：
                            <select id="department" name="department" class="form-control" type="text" placeholder="Search" aria-label="Search">
                                <option>請選擇部門</option>
                                @foreach (var department in departments)
                                {
                <option>@department.Name</option>}
                            </select>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                        <label class="form-inline">
                            <i class="bi-filter-left"></i> 職稱：
                            <select id="jobtitle" name="jobtitle" class="form-control" type="text" placeholder="Search" aria-label="Search">
                                <option>請選擇職稱</option>
                                @foreach (var jobtitle in jobTitles)
                                {
                <option>@jobtitle.Name</option>}
                            </select>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                        <label class="form-inline">
                            <i class="bi-person"></i> 姓名：
                            <select id="employee_name" name="employee_name" class="form-control" type="text" placeholder="Search" aria-label="Search">
                                <option>請選擇姓名</option>
                                @foreach (var passEmployee in all_passEmployees)
                                {
                <option>@passEmployee.Name</option>}
                            </select>
                        </label>
                    </div>
                    <div class="col-lg-1 col-md-1 col-12">
                        <div>
                            <button id="button" onclick="set();search();" name="button" value="search" class="btn" type="submit" data-toggle="modal" data-target="#exampleModal4.1"><i class="bi-search"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-12">
                        <div>
                            <button id="cancelbutton" name="button" value="search" class="btn" style="display:none;" onclick="cancel();">取消搜尋</button>
                        </div>
                    </div>
                </div>
            </form>
        }

        <div class="section-body" style="margin-top:25px">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>員工資料</h4>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th></th>
                                        <th>員工姓名</th>
                                        <th>電話</th>
                                        <th>部門</th>
                                        <th>職稱</th>
                                        <th>E-mail</th>
                                        <th>狀態</th>
                                        <th>編輯</th>
                                    </tr>
                                    <tbody id="tablePage">
                                        @foreach (var pass_employee in passEmployees)
                                        {
                                            <tr>
                                                <td class="rowBorderStart"></td>
                                                <td class="rowBorderMiddle">
                                                    <a href="/EmployeeData/SearchEmployee?department=請選擇部門&jobtitle=請選擇職稱&employee_name=@pass_employee.Name"><img src="~/Content/images/avatar.png" alt="avatar" width="30" class="rounded-circle mr-1">@pass_employee.Name</a>
                                                </td>
                                                <td class="rowBorderMiddle">@pass_employee.Phone</td>
                                                <td class="rowBorderMiddle">@pass_employee.Department</td>
                                                <td class="rowBorderMiddle">@pass_employee.JobTitle</td>
                                                <td class="rowBorderMiddle">@pass_employee.Email</td>

                                                @if (pass_employee.Enabled == true)
                                                {
                                                    <td class="rowBorderMiddle">
                                                        <div class="badge badge-info">使用中</div>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="rowBorderMiddle">
                                                        <div class="badge badge-danger">停用</div>
                                                    </td>
                                                }

                                                @*<td>
                                                        <a href="/EmployeeData/Edit?id=@pass_employee.HashAccount" class="btn2 btn2-primary btn2-action" data-toggle="tooltip" title="Edit"><i class="bi-pencil-square"></i></a>
                                                    </td>*@
                                                <td class="rowBorderEnd">
                                                    <button type="button" id="editbutton" class="btn2 btn2-primary btn2-action" data-toggle="modal" data-target="#@pass_employee.HashAccount"><i id="editimage" class="bi-pencil-square"></i></button>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @*@if (passEmployees.Count >= 10)
                            {
                                <div class="card-footer text-right">
                                    <nav class="d-inline-block">
                                        <ul class="pagination mb-0">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1"><i class="bi-chevron-double-left"></i></a>
                                            </li>
                                            <li class="page-item active">
                                                <a class="page-link" href="#" id="page" name="page" value=1>1 <span class="sr-only">(current)</span></a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" id="page" name="page" value=2>2</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#" id="page" name="page" value=3>3</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#"><i class="bi-chevron-double-right"></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                }*@
                        <div class="card-footer text-right">

                            <nav class="d-inline-block">
                                <ul class="pagination mb-0 pagination" id="pageList">
                                    @if (@num1 % 10 == 0)
                                    {
                                        <li class="page-item" id="spanpage_first"><a class="page-link" href="javascript:nPage(1);changepage(1,@endpageint)">首頁</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item" id="spanpage_first"><a class="page-link" href="javascript:nPage(1);changepage(1,@endpage)">首頁</a></li>
                                    }
                                    <li class="page-item disabled " id="spanPre" style="border:0px;padding:0px">
                                        <a class="page-link" href="javascript:pre();" style="color: #68a3fc;">&laquo;</a>
                                    </li>

                                    @if (@num1 % 10 == 0)
                                    {
                                        for (var i = 1; i <= @endpageint; i++)
                                        {
                                            pagecount++;
                                            if (pagecount <= 3)
                                            {
                                                <li class="active" id="spanpage_@i"><a class="page-link" id="spanpage_a_@i" href="javascript:nPage(@i);changepage(@i,@endpageint);">@i</a></li>
                                            }
                                            else
                                            {
                                                <li class="active" id="spanpage_@i" style="display:none"><a class="page-link" id="spanpage_a_@i" href="javascript:nPage(@i);changepage(@i,@endpageint);">@i</a></li>
                                            }
                                        }
                                    }
                                    else if (@num1 < 10)
                                    {

                                        <li class="active" id="spanpage_1"><a class="page-link" id="spanpage_a_1" href="javascript:nPage(1);nextOff();preOff();">1</a></li>

                                    }
                                    else
                                    {
                                        for (var i = 1; i <= @endpage; i++)
                                        {
                                            pagecount++;
                                            if (pagecount <= 3)
                                            {
                                                <li class="active" id="spanpage_@i"><a class="page-link" id="spanpage_a_@i" href="javascript:nPage(@i);changepage(@i,@endpage)">@i</a></li>
                                            }
                                            else
                                            {
                                                <li class="active" id="spanpage_@i" style="display:none"><a class="page-link" id="spanpage_a_@i" href="javascript:nPage(@i);changepage(@i,@endpage)">@i</a></li>
                                            }
                                        }
                                    }


                                    <li class="page-item" id="spanNext" style="border:0px;padding:0px">
                                        <a class="page-link" href="javascript:next()" style="color: #68a3fc;">&raquo;</a>
                                    </li>
                                    @if (@num1 % 10 == 0)
                                    {
                                        <li class="page-item" id="spanpage_end"><a class="page-link" href="javascript:nPage(@endpageint);nextOff();changepage(@endpageint,@endpageint);">末頁</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item" id="spanpage_end"><a class="page-link" href="javascript:nPage(@endpage);nextOff();changepage(@endpage,@endpage);">末頁</a></li>
                                    }
                                </ul>
                            </nav>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>




@foreach (var pass_employee in passEmployees)
{
    using (Html.BeginForm("EditEmployee", "EmployeeData", new { name = pass_employee.Name, id = pass_employee.HashAccount, old_email = pass_employee.Email, old_enabled = pass_employee.Enabled }, FormMethod.Post, new { name = "frm_"+pass_employee.HashAccount , id= "frm_" + pass_employee.HashAccount }))
    {
<div class="modal modal-backdrop-bg" id="@pass_employee.HashAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100%;  background-color: rgb(135,135,135,0.5);">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size:20px; font-family:Agency FB">員工姓名：</h5>
                <h5 id="name" name="name" value="@pass_employee.Name" class="modal-title" style="font-size:20px; font-family:Agency FB">@pass_employee.Name</h5>
                @if (pass_employee.Enabled == true)
                {
<div class="badge badge-info" style="margin-left:10px">使用中</div> }
                    else
                    {
<div class="badge badge-danger" style="margin-left:10px">停用</div>}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <hr size="10" color="#d9d9d9" align="center" width="95%">
            <div class="modal-body2">
                <div class="cardA card-primary">
                    <div class="row">
                        <div class="col-12">
                            <div class="row" style="margin-top:15px">
                                <div class="col-12 col-lg-6">
                                    部門
                                </div>
                                <div class="col-12 col-lg-6">
                                    職稱
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-6">
                                    <select id="department" name="department" class="form-control" type="text" placeholder="Search" aria-label="Search">
                                        @foreach (var department in departments)
                                        {
                                            if (department.Name.Equals(pass_employee.Department))
                                            {
                    <option selected value="@department.DepartmentId">@department.Name</option> }
                                            else
                                            {
                    <option value="@department.DepartmentId">@department.Name</option>}

                                        }
                                    </select>
                                </div>

                                <div class="col-4 col-sm-6">
                                    <select id="jobtitle" name="jobtitle" class="form-control" type="text" placeholder="Search" aria-label="Search">
                                        @foreach (var jobtitle in jobTitles)
                                        {
                                            if (jobtitle.Name.Equals(pass_employee.JobTitle))
                                            {
                    <option selected value="@jobtitle.JobTitleId">@jobtitle.Name</option> }
                                            else
                                            {
                    <option value="@jobtitle.JobTitleId">@jobtitle.Name</option>}
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="row" style="margin-top:15px">
                                <div class="col-12 col-lg-6">
                                    EMAIL
                                </div>
                                <div class="col-12 col-lg-6">
                                    電話
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-6">
                                    <input type="email" class="form-control" id="email" name="email" value="@pass_employee.Email" required autofocus>
                                </div>

                                <div class="col-4 col-sm-6">
                                    <input type="text" class="form-control" id="phone" name="phone" value="@pass_employee.Phone">
                                    <p></p>
                                </div>
                            </div>

                            <div class="row" style="margin-top:15px;margin-bottom:15px">
                                @if ((managers.FindIndex(item => item.ManagerHash.Equals(pass_employee.HashAccount)) != -1))
                                {
                                    if (managers[(managers.FindIndex(item => item.ManagerHash.Equals(pass_employee.HashAccount)))].Enabled == true)
                                    {
            <div class="col-12 col-lg-6">
                <input type="checkbox" id="manager" name="manager" value=true checked>管理者
            </div> }
                                    else
                                    {
            <div class="col-12 col-lg-6">
                <input type="checkbox" id="manager" name="manager" value=true>管理者
            </div> }
            <div class="col-12 col-lg-6">
                職務代理人：
                <select id="agent" name="agent" type="text">
                    <option value="">請選擇</option>
                    @foreach (var manager in managers)
                    {
                        if (manager.ManagerHash != pass_employee.HashAccount)
                        {
                            bool isAgent = false;
                            foreach (var m in managers)
                            {
                                if (manager.ManagerHash.Equals(m.AgentHash) && !manager.ManagerHash.Equals(managers[(managers.FindIndex(item => item.ManagerHash.Equals(pass_employee.HashAccount)))].AgentHash))
                                {
                                    isAgent = true;
                                }
                            }
                            if (isAgent != true)
                            {
                                if (manager.ManagerHash.Equals(managers[(managers.FindIndex(item => item.ManagerHash.Equals(pass_employee.HashAccount)))].AgentHash))
                                {
<option value="@manager.ManagerHash" selected>@manager.Name</option> }
                                    else
                                    {
<option value="@manager.ManagerHash">@manager.Name</option>}
                                }
                            }
                        }
                </select>
            </div> }
                                else
                                {
            <div class="col-12 col-lg-6">
                <input type="checkbox" id="manager" name="manager" value=true>管理者
            </div>
                                    <div class="col-12 col-lg-6">
                                        直屬主管：
                                        <select id="managerhash" name="managerhash" type="text">
                                            <option value="">請選擇</option>
                                            @foreach (var pass in all_passEmployees)
                                            {
                                                if (pass.HashAccount != pass_employee.HashAccount)
                                                {
                                                    if (pass.HashAccount.Equals(pass_employee.ManagerHash))
                                                    {
                    <option value="@pass.HashAccount" selected>@pass.Name</option> }
                                                    else
                                                    {
                    <option value="@pass.HashAccount">@pass.Name</option>}

                                                }
                                            }
                                        </select>
                                    </div>}
                                @*<div class="col-12 col-lg-6">
                                        直屬主管：
                                        <select id="managerhash" name="managerhash" type="text">
                                            <option value="">請選擇</option>
                                            @foreach (var pass in all_passEmployees)
                                            {
                                                if (pass.HashAccount != pass_employee.HashAccount)
                                                {
                                                    if (pass.HashAccount.Equals(pass_employee.ManagerHash))
                                                    {
                                                        <option value="@pass.HashAccount" selected>@pass.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@pass.HashAccount">@pass.Name</option>
                                                    }

                                                }
                                            }
                                        </select>
                                    </div>*@
                            </div>
                            <div class="row" style="margin-top:15px;margin-bottom:15px">
                                @if (pass_employee.Enabled == false)
                                {
            <div class="col-12 col-lg-6">
                <input type="checkbox" id="disable" name="disable" value=true checked>停用帳號
            </div> }
                                else
                                {
            <div class="col-12 col-lg-6">
                <input type="checkbox" id="disable" name="disable" value=true>停用帳號
            </div>}
                                @if ((managers.FindIndex(item => item.ManagerHash.Equals(pass_employee.HashAccount)) != -1))
                                {
            <div class="col-12 col-lg-6">
                直屬主管：
                <select id="managerhash" name="managerhash" type="text">
                    <option value="">請選擇</option>
                    @foreach (var pass in all_passEmployees)
                    {
                        if (pass.HashAccount != pass_employee.HashAccount)
                        {
                            if (pass.HashAccount.Equals(pass_employee.ManagerHash))
                            {
<option value="@pass.HashAccount" selected>@pass.Name</option> }
                                else
                                {
<option value="@pass.HashAccount">@pass.Name</option>}

                            }
                        }
                </select>
            </div>}
                            </div>


                            <div class="row" style="margin-top:20px">
                                <div class="col-12 col-lg-12 text-center">
                                    <button id="Button" onclick="set();load('frm_@pass_employee.HashAccount','exampleModal2.1');" name="Button" type="submit" value="RenewButton" class="btn3 btn3-primary btn3-action"><i class="bi-check-lg"></i></button>
                                    <button id="Button" name="Button" value="BackButton" type="button" class="btn4 btn4-danger btn4-action" data-toggle="modal" data-target="#DeleteEmployee"><i class="bi-trash-fill"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
    }
}

@foreach (var reviewEmployee in reviewEmployees)
{
    using (Html.BeginForm("SetEmployeeInformation", "EmployeeData", new { id = reviewEmployee.HashAccount, email = reviewEmployee.Email }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
<div class="modal modal-backdrop-bg" id="@reviewEmployee.HashAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100%; background-color: rgb(135,135,135,0.5); ">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size:20px; font-family:Agency FB">員工姓名：</h5>
                <h5 class="modal-title" id="name" name="name" value="@reviewEmployee.Name" style="font-size:20px; font-family:Agency FB">@reviewEmployee.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <hr size="10" color="#d9d9d9" align="center" width="95%">
            <div class="modal-body2">
                <div class="cardA card-primary">
                    <div class="row">
                        <div class="col-12">
                            <div class="row" style="margin-top:15px">
                                <div class="col-12 col-lg-6">
                                    部門
                                </div>
                                <div class="col-12 col-lg-6">
                                    職稱
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-6">
                                    <select id="department" name="department" class="form-control" type="text" placeholder="Search" aria-label="Search">
                                        @foreach (var department in departments)
                                        {
                    <option value="@department.DepartmentId">@department.Name</option>}
                                    </select>
                                </div>

                                <div class="col-4 col-sm-6">
                                    <select id="jobtitle" name="jobtitle" class="form-control" type="text" placeholder="Search" aria-label="Search">
                                        @foreach (var jobtitle in jobTitles)
                                        {
                    <option value="@jobtitle.JobTitleId">@jobtitle.Name</option>}
                                    </select>
                                </div>
                            </div>

                            <div class="row" style="margin-top:15px">
                                <div class="col-12 col-lg-6">
                                    EMAIL
                                </div>
                                <div class="col-12 col-lg-6">
                                    驗證碼(Phone Code)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-6">
                                    <input type="text" class="form-control" id="email" name="email" value="@reviewEmployee.Email" readonly="readonly" required autofocus>
                                </div>

                                <div class="col-4 col-sm-6">
                                    <input type="text" class="form-control" id="phone" name="phone" value="@reviewEmployee.PhoneCode " readonly="readonly">
                                </div>
                            </div>


                            <div class="row" style="margin-top:20px;margin-bottom:20px">
                                <div class="col-12 col-lg-6">
                                    <input type="checkbox" id="manager" name="manager" value=true>管理者
                                </div>

                                <div class="col-12 col-lg-6">
                                    直屬主管：
                                    <select id="managerhash" name="managerhash">
                                        <option value="">請選擇</option>
                                        @foreach (var pass in passEmployees)
                                        {
                    <option value="@pass.HashAccount">@pass.Name</option>}
                                    </select>
                                </div>
                            </div>


                            <div class="row" style="margin-top:20px">
                                <div class="col-12 col-lg-12 text-center">
                                    <button id="Button" onclick="set();" name="Button" type="submit" value="SaveButton" class="btn3 btn3-primary btn3-action" data-toggle="modal" data-target="#exampleModal3.1"><i class="bi-check-lg"></i></button>
                                    <button id="Button" onclick="set();" name="Button" value="RejectButton" type="submit" class="btn4 btn4-danger btn4-action" data-toggle="modal" data-target="#exampleModal3.2"><i class="bi-x-lg"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
    }
}
<div class="modal modal-backdrop-bg" id="DeleteEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100%; background-color: rgb(135,135,135,0.5); ">
    <div class="modal-dialog" role="document" >
        <div class="modal-content" style="margin-top:150px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">確定要刪除此帳號?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("DeleteEmployee", "EmployeeData", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-footer">
                        <button id="Button" name="Button" value="CloseButton" type="submit" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button id="DeleteWorkTimeButton" name="DeleteId" type="submit" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalload">刪除</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal modal-backdrop-bg bd-example-modal-lg" id="exampleModal2.1" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="width: 100%; background-color: rgb(135,135,135,0.5); ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin: 0px 0px 0px -9px;opacity:0.7">
            <div class="modal-body" style="padding: 190px 0px 190px 0px; border-radius: 4px;width:100%;">
                <div id="CenterSet">
                    <img src="~/Content/images/loading.gif" id="shape-ex6-img" style="width: 100px; height: 100px; display: block; margin: auto; ">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-backdrop-bg bd-example-modal-lg" id="exampleModal3.1" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="width: 100%; background-color: rgb(135,135,135,0.5); ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin: 0px 0px 0px -9px;opacity:0.7">
            <div class="modal-body" style="padding: 169px 0px 169px 0px; border-radius: 4px;width:100%;">
                <div id="CenterSet">
                    <img src="~/Content/images/loading.gif" id="shape-ex6-img" style="width: 100px; height: 100px; display: block; margin: auto; ">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-backdrop-bg bd-example-modal-lg" id="exampleModal3.2" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="width: 100%; background-color: rgb(135,135,135,0.5); ">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin: 0px 0px 0px -9px;opacity:0.7">
            <div class="modal-body" style="padding: 169px 0px 169px 0px; border-radius: 4px;width:100%;">
                <div id="CenterSet">
                    <img src="~/Content/images/loading.gif" id="shape-ex6-img" style="width: 100px; height: 100px; display: block; margin: auto; ">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-backdrop-bg" id="exampleModal4.1" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="width: 100%; background-color: rgb(135,135,135,0.5); ">
    <div class="modal-dialog">
        <div class="modal-content modal-dialog-centered">
            <div class="modal-body" style="padding: 100px 0px 100px 0px; border-radius: 4px;width:100%;">
                <div id="CenterSet">
                    <img src="~/Content/images/loading.gif" id="shape-ex6-img" style="width: 100px; height: 100px; display: block; margin: auto; ">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function set() {
        sessionStorage.removeItem("toTop");
        sessionStorage.setItem("toTop", $(window).scrollTop());
    }
    function load(values1,values)
    {
        var frm = document.forms[values1];
        
        //document.getElementsById("phone123").value = values1;
        if (frm.elements.email.value != null && frm.elements.email.value != "")//確認email有無填寫
        {
            var modal = document.getElementById(values);
            modal.style.display = "block";
        }
    }
</script>
<script type="text/javascript">//頁碼
    var theTable = document.getElementById("tablePage");
    var spanPre = document.getElementById("spanPre");
    var spanNext = document.getElementById("spanNext");
    var pageList = document.getElementById("pageList");
    var spanPageN = pageList.getElementsByTagName("li");


    var numberRowsInTable = theTable.rows.length;
    var pageSize = 10;
    var page = 1;

    function changepage(n, end) {
        if (n > 2 && n < end) {
            for (var i = 1; i <= end; i++) {
                var prepage = document.getElementById("spanpage_" + i);
                prepage.style.display = "none";
            }
            var page = document.getElementById("spanpage_" + n);
            page.style.display = "block"
            var prepage = document.getElementById("spanpage_" + (n - 1));
            prepage.style.display = "block";
            var nextpage = document.getElementById("spanpage_" + (n + 1));
            nextpage.style.display = "block"
        } else if (n == end) {
            for (var i = 1; i < end - 2; i++) {
                var prepage = document.getElementById("spanpage_" + i);
                prepage.style.display = "none";
            }
            var prepage1 = document.getElementById("spanpage_" + n);
            prepage1.style.display = "block"
            var prepage2 = document.getElementById("spanpage_" + (n - 1));
            prepage2.style.display = "block"
            var prepage3 = document.getElementById("spanpage_" + (n - 2));
            prepage3.style.display = "block"
        } else if (n <= 2) {
            for (var i = 1; i <= end; i++) {
                var prepage = document.getElementById("spanpage_" + i);
                prepage.style.display = "none";
            }
            var prepage1 = document.getElementById("spanpage_" + 1);
            prepage1.style.display = "block"
            var prepage2 = document.getElementById("spanpage_" + 2);
            prepage2.style.display = "block"
            var prepage3 = document.getElementById("spanpage_" + 3);
            prepage3.style.display = "block"
        }
    }

    //清除列表的active樣式
    function clearActive() {
        for (var i = 1; i < spanPageN.length - 3; i++) {
            //console.log(spanPageN[i].id);
            console.log(i);
            spanPageN[i].setAttribute("class", "");
            var spanApage = document.getElementById("spanpage_a_" + i);
            spanApage.setAttribute("style", "");
        }
    }
    //下一頁
    function next() {

        hideTable();

        //當前最後一行行數
        currentRow = pageSize * page;
        maxRow = currentRow + pageSize;
        // 判斷是否到了table最後幾行數據
        if (maxRow > numberRowsInTable) {
            maxRow = numberRowsInTable;

        }
        for (var i = currentRow; i < maxRow; i++) {
            theTable.rows[i].style.display = '';
        }

        page++;

        if (maxRow == numberRowsInTable) {
            console.log(maxRow + "=======");
            nextOff();

        }
        preOn();
        showPageActive(page);
        if (@num1% 10 == 0) {
            changepage(page,@endpageint);
        } else
        {
            changepage(page,@endpage);
        }

    }

    //上一頁
    function pre() {

        hideTable();
        page--;//4->3

        currentRow = pageSize * page;//30

        maxRow = currentRow - pageSize;//20
        if (currentRow > numberRowsInTable) currentRow = numberRowsInTable;
        for (var i = maxRow; i < currentRow; i++) {
            //清除display樣式，display將使用默認
            theTable.rows[i].style.display = '';
        }

        if (maxRow == 0) {
            preOff();

        }
        showPageActive(page);
        nextOn();
        if (@num1% 10 == 0) {
            changepage(page,@endpageint);
        } else
        {
            changepage(page,@endpage);
        }

    }

    //第幾頁
    function nPage(n) {
        hideTable();
        page = n;
        currentRow = pageSize * (n - 1);
        maxRow = currentRow + pageSize;
        maxRow = Math.min(maxRow, numberRowsInTable);

        maxRow1 = currentRow + pageSize;
        // 判斷是否到了table最後幾行數據
        if (maxRow1 > numberRowsInTable) {
            maxRow1 = numberRowsInTable;

        }
        for (var i = currentRow; i < maxRow; i++) {
            theTable.rows[i].style.display = '';
        }


        if (n==1 && @num1 <= 10)
        {
            nextOff();
            preOff();
        }
        else if (n == 1) {
            nextOn();
            preOff();
        }else if (maxRow1 == numberRowsInTable) {
            preOn();
            nextOff();
        } else {
            nextOn();
            preOn();
        }
        clearActive();

        showPageActive(n);

    }

    function hideTable() {
        for (var i = 0; i < numberRowsInTable; i++) {
            theTable.rows[i].style.display = 'none';
        }
    }

    //將當前頁設爲active
    function showPageActive(p) {
        clearActive();
        //清除之前的
        var nowpage = document.getElementById("spanpage_a_" + p);

        nowpage.setAttribute("style", "background-color:#68a3fc; color:#ffffff;")

    }

    //總共頁數
    function pageCount() {
        var count = 0;
        //判斷是否整除
        if (numberRowsInTable % pageSize != 0) count = 1;
        return parseInt(numberRowsInTable / pageSize) + count;
    }


    //上一頁下一頁鏈接的禁用和打開
    function preOn() {
        spanPre.innerHTML = " <a class='page-link' href='javascript:pre();'>&laquo;</a>";
        spanPre.setAttribute("class", "");
    }
    function preOff() {
        //bootstrap設置禁用樣式之後還是可以點擊一次，所以這裏直接修改innerHTML解決這個問題。
        spanPre.innerHTML = " <a class='page-link' href='javascript:void(0);'>&laquo;</a>";
        spanPre.setAttribute("class", "disabled");
    }
    function nextOn() {
        spanNext.innerHTML = "<a class='page-link' href='javascript:next()'>&raquo;</a>";
        spanNext.setAttribute("class", "");
    }
    function nextOff() {
        spanNext.innerHTML = "<a class='page-link' href='javascript:void(0)'>&raquo;</a>";
        spanNext.setAttribute("class", "disabled");
    }


    //隱藏表格 ,只顯示第一頁的內容
    function hide() {
        for (var i = pageSize; i < numberRowsInTable; i++) {
            theTable.rows[i].style.display = 'none';
        }
        showPageActive(1);
        preOff();
        nextOn();
    }

    hide();
</script>
<script>
    function search() {

        sessionStorage.removeItem("search");
        sessionStorage.setItem("search", true);
    }
    function cancel() {
        sessionStorage.clear();
        window.location = '/EmployeeData/index';

    }
</script>
<script type="text/javascript">

        @*var itemA = '<%=@foreach(var pass_employee in passEmployees) { @pass_employee.HashAccount} %>'*@

        $('#exampleModal2.1).on('bs.modal', function(event) {
                var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

</script>
