
@{
    ViewBag.Title = "打卡紀錄";
    List<AttendanceManagement.Models.Work_Record> work_record = ViewBag.workrecord;
    AttendanceManagement.Models.Company_Time company_Times = ViewBag.company_time;
}

<div class="main-content">
    <section class="section">
        <h3 class="page_name">
            打卡紀錄
        </h3>
        @using (Html.BeginForm("SearchWorkRecord", "PunchRecords", FormMethod.Get))
        {
            @Html.AntiForgeryToken()
            <form class="form-inline mr-auto">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <label class="form-inline">
                            姓名(ID)：
                            <input id="employee_name" name="employee_name" class="form-control" type="text" placeholder="Search" aria-label="Search">
                        </label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <label class="form-inline">
                            日期：
                            <input id="date" name="date" class="form-control" type="date" placeholder="Search" aria-label="Search">
                        </label>
                    </div>
                    <div class="col-lg-1 col-md-1 col-12">
                        <div>
                            <button id="button" name="button" value="search" class="btn" type="submit"><i class="bi-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        }

            <div class="section-body" style="margin-top:25px">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>打卡紀錄</h4>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tr>
                                            <th>編號</th>
                                            <th>員工姓名</th>
                                            <th>上班時間</th>
                                            <th>下班時間</th>
                                            <th>是否遲到</th>
                                        </tr>
                                        @foreach (var record in work_record)
                                        {
                                    <tr>
                                        <td>@record.Num</td>
                                        <td>
                                            <a href="#"><img src="~/Content/images/avatar.png" alt="avatar" width="30" class="rounded-circle mr-1">@record.Name</a>
                                        </td>
                                        <td>@record.WorkTime</td>
                                        <td>@record.RestTime</td>
                                        @if (company_Times.WorkTime != null)
                                        {
                                            TimeSpan worktime = (TimeSpan)company_Times.WorkTime;
                                            if (record.WorkTime.Hour < worktime.Hours)
                                            {
                                                <td><div class="badge badge-info">準時</div></td>
                                            }
                                            else if (record.WorkTime.Hour == worktime.Hours)
                                            {
                                                if (record.WorkTime.Minute <= worktime.Minutes)
                                                {
                                                    <td><div class="badge badge-info">準時</div></td>
                                                }
                                            }
                                            else
                                            {
                                                <td><div class="badge badge-danger">遲到</div></td>
                                            }
                                        }
                                    </tr>
                                        }
                                        @*<tr>
                                            <td>1</td>
                                            <td>
                                                <a href="#"><img src="~/Content/employee.png" alt="avatar" width="30" class="rounded-circle mr-1">王大明</a>
                                            </td>
                                            <td>2017-01-09 08:57:00</td>
                                            <td>2017-01-09 18:05:00</td>
                                            <td>高雄市燕巢區大學路1號</td>
                                            <td><div class="badge badge-success">準時</div></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>
                                                <a href="#"><img src="~/Content/employee.png" alt="avatar" width="30" class="rounded-circle mr-1">周星星</a>
                                            </td>
                                            <td>2017-01-08 09:10:00</td>
                                            <td>2017-01-08 19:21:00</td>
                                            <td>高雄市燕巢區大學路1號</td>
                                            <td><div class="badge badge-danger">遲到</div></td>
                                        </tr>*@
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <nav class="d-inline-block">
                                    <ul class="pagination mb-0">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1"><i class="bi-chevron-double-left"></i></a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#"><i class="bi-chevron-double-right"></i></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
</div>