
@{
    ViewBag.Title = "打卡紀錄";
    List<AttendanceManagement.Models.Detail_WorkRecord> work_record = ViewBag.workrecord;
    AttendanceManagement.Models.Company_Time company_Times = ViewBag.company_time;
    List<AttendanceManagement.Models.EmployeeGeneralWorktime> generalWorktimes = ViewBag.general_worktime;
    List<AttendanceManagement.Models.EmployeeFlexibleWorktime> flexibleWorktimes = ViewBag.flexible_worktime;
    List<AttendanceManagement.Models.EmployeeWorkTime> employeeWorkTimes = ViewBag.employeeWorkTimes;
    List<AttendanceManagement.Models.PassEmployee> passEmployees = ViewBag.pass_employee; //已審核資料

    int num = ViewBag.Num;//打卡記錄總共有幾筆
    int number = 0;//編號
    int num1 = work_record.Count == 0 ? 1 : work_record.Count;
    int endpage = (num1 / 10) + 1;
    int endpageint = (num1 / 10);
    int pagecount = 0;
}

<script type="text/javascript">
    window.onload = function () {

        document.getElementById("rest").options[sessionStorage.getItem("search_restindex")].selected = true;
        document.getElementById("clock").options[sessionStorage.getItem("search_clockindex")].selected = true;
        document.getElementById("date").value = sessionStorage.getItem("search_date");
        document.getElementById("employee_name").value = sessionStorage.getItem("search_name");

        if (sessionStorage.getItem("search")) {
            document.getElementById('cancelbutton').style.display = "inline-block";
        } else {
            document.getElementById('cancelbutton').style.display = "none";
        }
        var _offset = sessionStorage.getItem("toTop");
        $(document).scrollTop(_offset);
        sessionStorage.clear();
       if (@num1 <= 10)
        {
           nextOff();
           preOff();
       }
   
       
       
    };
</script>
<div class="main-content">
    <section class="section">
        <h3 class="page_name">
            <img class="nav_logo5" src="~/Content/images/clock.png">&nbsp;打卡紀錄
        </h3>
        @using (Html.BeginForm("SearchWorkRecord", "PunchRecords", FormMethod.Get))
        {
    <form class="form-inline mr-auto">
        <div class="row" style="margin-left:-5px;">
            <div class="col-md-3  col-12  col-lg-3">
                <label class="form-inline">
                    姓名(ID)：
                    <input id="employee_name" name="employee_name" class="form-control" type="text" placeholder="請輸入員工姓名" style="width:70%;" aria-label="Search">
                </label>
            </div>
            <div class="col-md-3  col-12  col-lg-3">
                <label class="form-inline">
                    日期：
                    <input id="date"  name="date" class="form-control" type="date" placeholder="Search" aria-label="Search" style="width:80%" max="@DateTime.Now.ToString("yyyy-MM-dd")">

                </label>

            </div>
            <div class="col-md-2  col-12 col-lg-2">
                <i class="bi bi-alarm form-inline" style="font-weight:bolder;">
                    <label style="color: #F6F6F6;">--</label>
                    <select id="clock" name="islate"class="form-control" type="text" placeholder="Search" aria-label="Search">
                        <option value="是否遲到">是否遲到</option>
                        <option value="準時">準時</option>
                        <option value="遲到">遲到</option>
                    </select>
                </i>
            </div>
            <div class="col-md-2  col-12 col-lg-2">
                <i class="bi bi-box-arrow-right form-inline" style="font-weight:bolder;">
                    <label style="color: #F6F6F6;">--</label>
                    <select id="rest" name="state" class="form-control" type="text" placeholder="Search" aria-label="Search">
                        <option value="下班狀態">下班狀態</option>
                        <option value="早退">早退</option>
                        <option value="異常">異常</option>
                        <option value="正常">正常</option>
                    </select>
                </i>
            </div>
            <div class="col-md-1  col-12 col-lg-1">
                <div>
                    <button id="button" name="button" value="search" class="btn" type="submit" data-toggle="modal" data-target="#exampleModal2.1" onclick="search();search_set();"><i class="bi-search"></i></button>
                </div>
            </div>
            <div class="col-md-1  col-12 col-lg-1">
                <div>
                    <button id="cancelbutton" name="button" type="button" value="search" class="btn"  data-toggle="modal" data-target="#exampleModal2.1" style="display:none;" onclick="cancel();window.location='/PunchRecords/index';">
                        <i class="bi bi-x-circle"></i>
                    </button>
                </div>
            </div>
        </div>
      
    </form>
        }

        <div class="section-body" style="margin-top:25px">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>打卡紀錄</h4>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table" id="punch">
                                    <tr id="title">
                                        <th style="text-align: center;">編號</th>
                                        <th>是否遲到</th>
                                        <th>員工姓名</th>
                                        <th>上班時間</th>
                                        <th>下班時間</th>
                                        <th>下班狀態</th>
                                    </tr>

                                    <tbody id="tablePage">

                                        @for (int i = num - 1; i >= 0; i--)
                                        {
                                            number++;
                                        <tr id="@work_record[i].HashAccount">
                                            <td class="rowBorderStart" style="text-align: center;">@number</td>
                                            <td class="rowBorderMiddle" style="width:100px;">
                                                @if (work_record[i].isLate.Equals("準時"))
                                                {
                                        <div class="badge badge-info ok" style="background-color: white; font-weight: bold;">準時</div> }
                                    else if (work_record[i].isLate.Equals("遲到"))
                                    {
                                        <div class="badge badge-danger " style="background-color: white; font-weight: bold;">遲到</div>}
                                            </td>
                                            <td class="rowBorderMiddle">
                                                <a href="/EmployeeData/SearchEmployee?department=請選擇部門&jobtitle=請選擇職稱&employee_name=@work_record[i].HashAccount"><img src="~/Content/images/avatar.png" alt="avatar" width="30" class="rounded-circle mr-1">@work_record[i].Name</a>
                                            </td>
                                            <td class="rowBorderMiddle">@work_record[i].WorkTime</td>
                                            <td class="rowBorderMiddle">@work_record[i].RestTime</td>
                                            @if (work_record[i].state.Equals("異常"))
                                            {
                                                <td class="rowBorderEnd"> <div class="badge badge-success" style="background-color: #E0F9D9; color: #40D03A; font-weight: bold; ">異常</div></td>
                                            }
                                            else if (work_record[i].state.Equals("早退"))
                                            {
                                                <td class="rowBorderEnd"> <div class="badge badge-warning" style="background-color: #FEF7CB; color: #F0BF58;font-weight:bold;">早退</div></td> }
                                            else if (work_record[i].state.Equals("正常"))
                                            {
                                                <td class="rowBorderEnd"> <div class="badge badge-info" style="background-color: #CAE1FF; color: #869DE9; font-weight: bold; ">正常</div></td> }
                                            else
                                            {
                                                <td class="rowBorderEnd"></td>
                                            }
                                        </tr>
                                        }
                                    </tbody>


                                </table>
                            </div>
                        </div>
                        @*<div class="card-footer text-right">
            <nav class="d-inline-block">
                <ul class="pagination mb-0">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1"><i class="bi-chevron-double-left"></i></a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#"><i class="bi-chevron-double-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>*@
                        <div id="pagenumber" class="card-footer text-right">

                            <nav class="d-inline-block">
                                <ul class="pagination mb-0 pagination" id="pageList">
                                    @if (@num1 % 10 == 0)
                                    {
                                        <li class="page-item" id="spanpage_first"><a class="page-link" href="javascript:nPage(1);changepage(1,@endpageint)">首頁</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item" id="spanpage_first"><a class="page-link" href="javascript:nPage(1);changepage(1,@endpage)">首頁</a></li>
                                    }
                                    <li class="page-item disabled " id="spanPre" style="border:0px;padding:0px">
                                        <a class="page-link" href="javascript:pre();" style="color: #68a3fc;">&laquo;</a>
                                    </li>

                                    @if (@num1 % 10 == 0)
                                    {
                                        for (var i = 1; i <= @endpageint; i++)
                                        {
                                            pagecount++;
                                            if (pagecount <= 3)
                                            {
                                                <li class="active" id="spanpage_@i"><a class="page-link" id="spanpage_a_@i" href="javascript:nPage(@i);changepage(@i,@endpageint);">@i</a></li>
                                            }
                                            else
                                            {
                                                <li class="active" id="spanpage_@i" style="display:none"><a class="page-link" id="spanpage_a_@i" href="javascript:nPage(@i);changepage(@i,@endpageint);">@i</a></li>
                                            }
                                        }
                                    }
                                    else if (@num1 < 10)
                                    {

                                        <li class="active" id="spanpage_1"><a class="page-link" id="spanpage_a_1" href="javascript:nPage(1);nextOff();preOff();">1</a></li>

                                    }
                                    else
                                    {
                                        for (var i = 1; i <= @endpage; i++)
                                        {
                                            pagecount++;
                                            if (pagecount <= 3)
                                            {
                                                <li class="active" id="spanpage_@i"><a class="page-link" id="spanpage_a_@i" href="javascript:nPage(@i);changepage(@i,@endpage)">@i</a></li>
                                            }
                                            else
                                            {
                                                <li class="active" id="spanpage_@i" style="display:none"><a class="page-link" id="spanpage_a_@i" href="javascript:nPage(@i);changepage(@i,@endpage)">@i</a></li>
                                            }
                                        }
                                    }


                                    <li class="page-item" id="spanNext" style="border:0px;padding:0px">
                                        <a class="page-link" href="javascript:next()" style="color: #68a3fc;">&raquo;</a>
                                    </li>
                                    @if (@num1 % 10 == 0)
                                    {
                                        <li class="page-item" id="spanpage_end"><a class="page-link" href="javascript:nPage(@endpageint);nextOff();changepage(@endpageint,@endpageint);">末頁</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item" id="spanpage_end"><a class="page-link" href="javascript:nPage(@endpage);nextOff();changepage(@endpage,@endpage);">末頁</a></li>
                                    }
                                </ul>
                            </nav>



                        </div>
                    </div>
                </div>
            </div>
        </div>




        @*<div class="content">

                <div class="container">
                    <h2 class="mb-5">Table #5</h2>


                    <div class="table-responsive custom-table-responsive">

                        <table class="table custom-table">
                            <thead>
                                <tr>
                                    <th scope="col">Order</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Occupation</th>
                                    <th scope="col">Contact</th>
                                    <th scope="col">Education</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr scope="row">
                                    <td>
                                        1392
                                    </td>
                                    <td><a href="#">James Yates</a></td>
                                    <td>
                                        Web Designer
                                        <small class="d-block">Far far away, behind the word mountains</small>
                                    </td>
                                    <td>+63 983 0962 971</td>
                                    <td>NY University</td>
                                </tr>
                                <tr class="spacer"><td colspan="100"></td></tr>
                                <tr class="active">
                                    <td>4616</td>
                                    <td><a href="#">Matthew Wasil</a></td>
                                    <td>
                                        Graphic Designer
                                        <small class="d-block">Far far away, behind the word mountains</small>
                                    </td>
                                    <td>+02 020 3994 929</td>
                                    <td>London College</td>
                                </tr>
                                <tr class="spacer"><td colspan="100"></td></tr>
                                <tr>
                                    <td>9841</td>
                                    <td><a href="#">Sampson Murphy</a></td>
                                    <td>
                                        Mobile Dev
                                        <small class="d-block">Far far away, behind the word mountains</small>
                                    </td>
                                    <td>+01 352 1125 0192</td>
                                    <td>Senior High</td>
                                </tr>
                                <tr class="spacer"><td colspan="100"></td></tr>
                                <tr>
                                    <td>9548</td>
                                    <td><a href="#">Gaspar Semenov</a></td>
                                    <td>
                                        Illustrator
                                        <small class="d-block">Far far away, behind the word mountains</small>
                                    </td>
                                    <td>+92 020 3994 929</td>
                                    <td>College</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                </div>

            </div>*@



    </section>
</div>

<div class="modal modal-backdrop-bg" id="exampleModal2.1" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="width: 100%; ">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-dialog-centered" style="width: 120px; height: 120px; display: block; margin: auto; ">
            <div class="modal-body">
                <div id="CenterSet">
                    <img src="~/Content/images/loading.gif" id="shape-ex6-img" style="width: 100px; height: 100px; display: block; margin: auto; ">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function search_set() {
        var d = document.getElementById("date").value;
        var n = document.getElementById("employee_name").value;
        var c = document.getElementById("clock").selectedIndex;
        var r = document.getElementById("rest").selectedIndex;
        sessionStorage.removeItem("search_clockindex");
        sessionStorage.setItem("search_clockindex", c);
        sessionStorage.removeItem("search_restindex");
        sessionStorage.setItem("search_restindex", r);
        sessionStorage.removeItem("search_date");
        sessionStorage.setItem("search_date", d);
        sessionStorage.removeItem("search_name");
        sessionStorage.setItem("search_name", n);
    }
    
</script>
<script type="text/javascript">
    var theTable = document.getElementById("tablePage");
    var spanPre = document.getElementById("spanPre");
    var spanNext = document.getElementById("spanNext");
    var pageList = document.getElementById("pageList");
    var spanPageN = pageList.getElementsByTagName("li");


    var numberRowsInTable = theTable.rows.length;
    var pageSize = 10;
    var page = 1;

    function changepage(n, end) {
        if (n > 2 && n < end) {
            for (var i = 1; i <= end; i++) {
                var prepage = document.getElementById("spanpage_" + i);
                prepage.style.display = "none";
            }
            var page = document.getElementById("spanpage_" + n);
            page.style.display = "block"
            var prepage = document.getElementById("spanpage_" + (n - 1));
            prepage.style.display = "block";
            var nextpage = document.getElementById("spanpage_" + (n + 1));
            nextpage.style.display = "block"
        } else if (n == end) {
            for (var i = 1; i < end - 2; i++) {
                var prepage = document.getElementById("spanpage_" + i);
                prepage.style.display = "none";
            }
            var prepage1 = document.getElementById("spanpage_" + n);
            prepage1.style.display = "block"
            var prepage2 = document.getElementById("spanpage_" + (n - 1));
            prepage2.style.display = "block"
            var prepage3 = document.getElementById("spanpage_" + (n - 2));
            prepage3.style.display = "block"
        } else if (n <= 2) {
            for (var i = 1; i <= end; i++) {
                var prepage = document.getElementById("spanpage_" + i);
                prepage.style.display = "none";
            }
            var prepage1 = document.getElementById("spanpage_" + 1);
            prepage1.style.display = "block"
            var prepage2 = document.getElementById("spanpage_" + 2);
            prepage2.style.display = "block"
            var prepage3 = document.getElementById("spanpage_" + 3);
            prepage3.style.display = "block"
        }
    }

    //清除列表的active樣式
    function clearActive() {
        for (var i = 1; i < spanPageN.length - 3; i++) {
            //console.log(spanPageN[i].id);
            console.log(i);
            spanPageN[i].setAttribute("class", "");
            var spanApage = document.getElementById("spanpage_a_" + i);
            spanApage.setAttribute("style", "");
        }
    }
    //下一頁
    function next() {

        hideTable();

        //當前最後一行行數
        currentRow = pageSize * page;
        maxRow = currentRow + pageSize;
        // 判斷是否到了table最後幾行數據
        if (maxRow > numberRowsInTable) {
            maxRow = numberRowsInTable;

        }
        for (var i = currentRow; i < maxRow; i++) {
            theTable.rows[i].style.display = '';
        }

        page++;

        if (maxRow == numberRowsInTable) {
            console.log(maxRow + "=======");
            nextOff();

        }
        preOn();
        showPageActive(page);
        if (@num1% 10 == 0) {
            changepage(page,@endpageint);
        } else
        {
            changepage(page,@endpage);
        }

    }

    //上一頁
    function pre() {

        hideTable();
        page--;//4->3

        currentRow = pageSize * page;//30

        maxRow = currentRow - pageSize;//20
        if (currentRow > numberRowsInTable) currentRow = numberRowsInTable;
        for (var i = maxRow; i < currentRow; i++) {
            //清除display樣式，display將使用默認
            theTable.rows[i].style.display = '';
        }

        if (maxRow == 0) {
            preOff();

        }
        showPageActive(page);
        nextOn();
        if (@num1% 10 == 0) {
            changepage(page,@endpageint);
        } else
        {
            changepage(page,@endpage);
        }

    }

    //第幾頁
    function nPage(n) {
        hideTable();
        page = n;
        currentRow = pageSize * (n - 1);
        maxRow = currentRow + pageSize;
        maxRow = Math.min(maxRow, numberRowsInTable);

        maxRow1 = currentRow + pageSize;
        // 判斷是否到了table最後幾行數據
        if (maxRow1 > numberRowsInTable) {
            maxRow1 = numberRowsInTable;

        }
        for (var i = currentRow; i < maxRow; i++) {
            theTable.rows[i].style.display = '';
        }


        if (n==1 && @num1 <= 10)
        {
            nextOff();
            preOff();
        }
        else if (n == 1) {
            nextOn();
            preOff();
        }else if (maxRow1 == numberRowsInTable) {
            preOn();
            nextOff();
        } else {
            nextOn();
            preOn();
        }
        clearActive();

        showPageActive(n);

    }

    function hideTable() {
        for (var i = 0; i < numberRowsInTable; i++) {
            theTable.rows[i].style.display = 'none';
        }
    }

    //將當前頁設爲active
    function showPageActive(p) {
        clearActive();
        //清除之前的
        var nowpage = document.getElementById("spanpage_a_" + p);

        nowpage.setAttribute("style", "background-color:#68a3fc; color:#ffffff;")

    }

    //總共頁數
    function pageCount() {
        var count = 0;
        //判斷是否整除
        if (numberRowsInTable % pageSize != 0) count = 1;
        return parseInt(numberRowsInTable / pageSize) + count;
    }


    //上一頁下一頁鏈接的禁用和打開
    function preOn() {
        spanPre.innerHTML = " <a class='page-link' href='javascript:pre();'>&laquo;</a>";
        spanPre.setAttribute("class", "");
    }
    function preOff() {
        //bootstrap設置禁用樣式之後還是可以點擊一次，所以這裏直接修改innerHTML解決這個問題。
        spanPre.innerHTML = " <a class='page-link' href='javascript:void(0);'>&laquo;</a>";
        spanPre.setAttribute("class", "disabled");
    }
    function nextOn() {
        spanNext.innerHTML = "<a class='page-link' href='javascript:next()'>&raquo;</a>";
        spanNext.setAttribute("class", "");
    }
    function nextOff() {
        spanNext.innerHTML = "<a class='page-link' href='javascript:void(0)'>&raquo;</a>";
        spanNext.setAttribute("class", "disabled");
    }


    //隱藏表格 ,只顯示第一頁的內容
    function hide() {
        for (var i = pageSize; i < numberRowsInTable; i++) {
            theTable.rows[i].style.display = 'none';
        }
        showPageActive(1);
        preOff();
        nextOn();
    }

    hide();
</script>
<script type="text/javascript">
    function search() {
        var d = document.getElementById("date").value;
        var n = document.getElementById("employee_name").value;
        var c = document.getElementById("clock").selectedIndex;
        var r = document.getElementById("rest").selectedIndex;

        //if (d != "" || n != "" || c!=0 || r!=0)
        //{
            
        //}

        sessionStorage.removeItem("search");
        sessionStorage.setItem("search", true);
        
    }
    function cancel() {
        sessionStorage.clear();
    }
</script>
