
@{
    ViewBag.Title = "請假紀錄";
    List<AttendanceManagement.Models.LeaveRecord> reviewleaveRecords = ViewBag.review_leaverecord;
    List<AttendanceManagement.Models.LeaveRecord> passleaveRecords = ViewBag.pass_leaverecord;
    int num1 = passleaveRecords.Count == 0 ? 1 : passleaveRecords.Count;
    int endpage = (num1 / 10) + 1;
    int endpageint = (num1 / 10);
    int pagecount = 0;
}
<script type="text/javascript">
    window.onload = function () {
        var _offset = sessionStorage.getItem("toTop");
        $(document).scrollTop(_offset);
        sessionStorage.clear();
        if (@num1 < 10)
        {
           nextOff();
           preOff();
        }
    };
</script>
<style>
    .active {
        color: #ffffff;
    }

        .active::before {
            content: '';
            position: absolute;
            left: 0;
            width: 2px;
            height: 32px;
            background-color: #ffffff;
        }
        td{
            background-color:white;
        }
    tr {
        background-color: white;
    }
    th {
        background-color: white;
    }
</style>
<div class="main-content">
    <section class="section">
        <h1 class="section-header">
            <div>請假紀錄</div>
        </h1>

        <div class="section-body" style="margin-top:25px">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>待審核-請假申請</h4>
                        </div>

                        <div class="col-12">
                            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="live__scroll">
                                            <div class="row">
                                                <div class="row d-flex flex-row flex-nowrap">
                                                    @foreach (var review_leaverecord in reviewleaveRecords)
                                                    {
                                                        <div class="col-md-5 mb-3">
                                                            <div class="card">
                                                                <div class="card-body" style="color:gray">
                                                                    <div class="badge badge-warning">@review_leaverecord.LeaveType</div>
                                                                    <div class="row" style="margin-top:10px">
                                                                        <div class="col-12">
                                                                            <nobr style="margin:0px 20px 0px 0px;">申請人</nobr>
                                                                            <img src="~/Content/images/avatar.png"  style="margin:0px 0px 0px 10px;" alt="avatar" width="30" class="rounded-circle mr-1">@review_leaverecord.Name
                                                                        </div>
                                                                    </div>

                                                                    <div class="row" style="margin-top:10px;" >
                                                                        <div class="col-12">
                                                                            <nobr style="margin:0px 20px 0px 0px;"> 請假時間</nobr>
                                                                            <nobr>@review_leaverecord.StartDate.ToString("yyyy-MM-dd HH:mm") 至 @review_leaverecord.EndDate.ToString("yyyy-MM-dd HH:mm")</nobr>
                                                    
                                                                        </div>
                                                                    </div>

                                                                    <div class="row" style="margin-top:10px;padding:0px 10px 0px 0px;">
                                                                        <div class="col-12">
                                                                            <nobr style="margin:0px 20px 0px 0px;">申請時間</nobr>
                                                                            <nobr> @review_leaverecord.CreatedTime.ToString("yyyy-MM-dd HH:mm")</nobr>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row" style="margin-top:10px">
                                                                        <div class="col-12 col-lg-4" style="margin-bottom:5px">
                                                                            請假事由
                                                                        </div>
                                                                        <textarea id="reason" name="reason" rows="4" class="col-11" style="padding:5px; border: 2px #d4cbcb solid; border-radius:5px; margin-left:2.5%;" readonly="readonly">@review_leaverecord.Reason</textarea>
                                                                    </div>
                                                                    @using (Html.BeginForm("ReviewLeaveRecord", "LeaveRecords", new { id = review_leaverecord.HashAccount, leave_id = review_leaverecord.LeaveRecordId }, FormMethod.Post))
                                                                    {
                                                    <div class="row" style="margin-top:20px">
                                                        <div class="col-12 col-lg-12 text-center">
                                                            <button id="Button" name="Button" onclick="set();" value="SaveButton" type="submit" class="btn3 btn3-primary btn3-action" data-toggle="modal" data-target="#exampleModal2.1"><i class="bi-check-lg"></i></button>
                                                            <button id="Button" name="Button" onclick="set();" value="RejectButton" type="submit" class="btn4 btn4-danger btn4-action" data-toggle="modal" data-target="#exampleModal2.1"><i class="bi-x-lg"></i></button>
                                                        </div>
                                                    </div>}
                                                                </div>
                                                            </div>
                                                        </div>}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("SearchLeaveRecord", "LeaveRecords", FormMethod.Get))
        {
            @Html.AntiForgeryToken()
            <form asp-controller="EmployeeTripRecords" asp-action="Index" class="form-inline mr-auto">
                                                                    
                <div class="row">
                                                                    
                    <div class="col-lg-6 col-md-6 col-12">
                                                                    
                        <i class="bi-person"></i> 姓名(ID)：<input id="employee_name" name="employee_name" class="form-control" type="text" name="SearchString" placeholder="請輸入員工姓名" aria-label="Search">
                                                                    
                    </div>
                                                                    

                    <div class="col-lg-5 col-md-5 col-12">
                                                                    
                        <i class="bi-calendar"></i> 日期：<input id="date" name="date" class="form-control" type="date" placeholder="Search" aria-label="Search" max="@DateTime.Now.ToString("yyyy-MM-dd")">
                                                                    
                    </div>
                                                                    

                    <div class="col-lg-1 col-md-1 col-12">
                                                                    
                        <div class="search-element" style="margin:22px 0px 0px 0px;">
                                                                    
                            <button id="button" name="button" onclick="set();" value="search" class="btn" type="submit" data-toggle="modal" data-target="#exampleModal2.1"><i class="bi-search"></i></button>
                                                                    
                        </div>
                                                                    
                    </div>
                                                                    
                </div>
                                                                    
            </form>
        }

        <div class="section-body" style="margin-top:25px">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>請假紀錄</h4>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <th>員工姓名</th>
                                        <th>假別</th>
                                        <th>開始時間</th>
                                        <th>結束時間</th>
                                        <th>申請時間</th>
                                        <th>狀態</th>
                                        <th>編輯</th>
                                    </tr>
                                    <tbody id="tablePage">
                                        @foreach (var pass_leaverecord in passleaveRecords)
                                        {
                                            <tr>
                                                <td class="rowBorderStart">
                                                    <a href="/EmployeeData/SearchEmployee?department=請選擇部門&jobtitle=請選擇職稱&employee_name=@pass_leaverecord.Name"><img src="~/Content/images/avatar.png" alt="avatar" width="30" class="rounded-circle mr-1">@pass_leaverecord.Name</a>
                                                </td>
                                                <td class="rowBorderMiddle">@pass_leaverecord.LeaveType</td>
                                                <td class="rowBorderMiddle">@pass_leaverecord.StartDate</td>
                                                <td class="rowBorderMiddle">@pass_leaverecord.EndDate</td>
                                                <td class="rowBorderMiddle">@pass_leaverecord.CreatedTime</td>
                                                @if (pass_leaverecord.Review == true)
                                                {
                                                    <td class="rowBorderMiddle">
                                                        <div class="badge badge-info">核准</div>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="rowBorderMiddle">
                                                        <div class="badge badge-danger">拒絕</div>
                                                    </td>
                                                }
                                                <td class="rowBorderEnd">
                                                    <a href="/LeaveRecords/Edit?id=@pass_leaverecord.LeaveRecordId" class="btn2 btn2-primary btn2-action" data-toggle="tooltip" title="Edit"><i class="bi-pencil-square" style="color: #68A3FC;"></i></a>
                                                    @*<button class="btn btn-danger btn-action" type="submit"><i class="bi-trash"></i></button>*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer text-right">

                            <nav class="d-inline-block">
                                <ul class="pagination mb-0 pagination" id="pageList">
                                    @if (@num1 % 10 == 0)
                                    {
                                        <li class="page-item" id="spanpage_first"><a class="page-link" href="javascript:nPage(1);changepage(1,@endpageint)">首頁</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item" id="spanpage_first"><a class="page-link" href="javascript:nPage(1);changepage(1,@endpage)">首頁</a></li>
                                    }
                                    <li class="page-item disabled " id="spanPre" style="border:0px;padding:0px">
                                        <a class="page-link" href="javascript:pre();" style="color: #68a3fc;">&laquo;</a>
                                    </li>

                                    @if (@num1 % 10 == 0)
                                    {
                                        for (var i = 1; i <= @endpageint; i++)
                                        {
                                            pagecount++;
                                            if (pagecount <= 3)
                                            {
                                                <li class="active" id="spanpage_@i"><a class="page-link" id="spanpage_a_@i" href="javascript:nPage(@i);changepage(@i,@endpageint);">@i</a></li>
                                            }
                                            else
                                            {
                                                <li class="active" id="spanpage_@i" style="display:none"><a class="page-link" id="spanpage_a_@i" href="javascript:nPage(@i);changepage(@i,@endpageint);">@i</a></li>
                                            }
                                        }
                                    }
                                    else if (@num1 < 10)
                                    {

                                        <li class="active" id="spanpage_1"><a class="page-link" id="spanpage_a_1" href="javascript:nPage(1);nextOff();preOff();">1</a></li>

                                    }
                                    else
                                    {
                                        for (var i = 1; i <= @endpage; i++)
                                        {
                                            pagecount++;
                                            if (pagecount <= 3)
                                            {
                                                <li class="active" id="spanpage_@i"><a class="page-link" id="spanpage_a_@i" href="javascript:nPage(@i);changepage(@i,@endpage)">@i</a></li>
                                            }
                                            else
                                            {
                                                <li class="active" id="spanpage_@i" style="display:none"><a class="page-link" id="spanpage_a_@i" href="javascript:nPage(@i);changepage(@i,@endpage)">@i</a></li>
                                            }
                                        }
                                    }


                                    <li class="page-item" id="spanNext" style="border:0px;padding:0px">
                                        <a class="page-link" href="javascript:next()" style="color: #68a3fc;">&raquo;</a>
                                    </li>
                                    @if (@num1 % 10 == 0)
                                    {
                                        <li class="page-item" id="spanpage_end"><a class="page-link" href="javascript:nPage(@endpageint);nextOff();changepage(@endpageint,@endpageint);">末頁</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item" id="spanpage_end"><a class="page-link" href="javascript:nPage(@endpage);nextOff();changepage(@endpage,@endpage);">末頁</a></li>
                                    }
                                </ul>
                            </nav>



                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</div>

<div class="modal modal-backdrop-bg" id="exampleModal2.1" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="width:100%">
    <div class="modal-dialog">
        <div class="modal-content modal-dialog-centered">
            <div class="modal-body" style="padding: 100px 0px 100px 0px; border-radius: 4px;width:100%;">
                <div id="CenterSet">
                    <img src="~/Content/images/loading.gif" id="shape-ex6-img" style="width: 100px; height: 100px; display: block; margin: auto; ">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function set() {
        sessionStorage.removeItem("toTop");
        sessionStorage.setItem("toTop", $(window).scrollTop());
    }
</script>
<script type="text/javascript">
    var theTable = document.getElementById("tablePage");
    var spanPre = document.getElementById("spanPre");
    var spanNext = document.getElementById("spanNext");
    var pageList = document.getElementById("pageList");
    var spanPageN = pageList.getElementsByTagName("li");


    var numberRowsInTable = theTable.rows.length;
    var pageSize = 10;
    var page = 1;

    function changepage(n, end) {
        if (n > 2 && n < end) {
            for (var i = 1; i <= end; i++) {
                var prepage = document.getElementById("spanpage_" + i);
                prepage.style.display = "none";
            }
            var page = document.getElementById("spanpage_" + n);
            page.style.display = "block"
            var prepage = document.getElementById("spanpage_" + (n - 1));
            prepage.style.display = "block";
            var nextpage = document.getElementById("spanpage_" + (n + 1));
            nextpage.style.display = "block"
        } else if (n == end) {
            for (var i = 1; i < end - 2; i++) {
                var prepage = document.getElementById("spanpage_" + i);
                prepage.style.display = "none";
            }
            var prepage1 = document.getElementById("spanpage_" + n);
            prepage1.style.display = "block"
            var prepage2 = document.getElementById("spanpage_" + (n - 1));
            prepage2.style.display = "block"
            var prepage3 = document.getElementById("spanpage_" + (n - 2));
            prepage3.style.display = "block"
        } else if (n <= 2) {
            for (var i = 1; i <= end; i++) {
                var prepage = document.getElementById("spanpage_" + i);
                prepage.style.display = "none";
            }
            var prepage1 = document.getElementById("spanpage_" + 1);
            prepage1.style.display = "block"
            var prepage2 = document.getElementById("spanpage_" + 2);
            prepage2.style.display = "block"
            var prepage3 = document.getElementById("spanpage_" + 3);
            prepage3.style.display = "block"
        }
    }

    //清除列表的active樣式
    function clearActive() {
        for (var i = 1; i < spanPageN.length - 3; i++) {
            //console.log(spanPageN[i].id);
            console.log(i);
            spanPageN[i].setAttribute("class", "");
            var spanApage = document.getElementById("spanpage_a_" + i);
            spanApage.setAttribute("style", "");
        }
    }
    //下一頁
    function next() {

        hideTable();

        //當前最後一行行數
        currentRow = pageSize * page;
        maxRow = currentRow + pageSize;
        // 判斷是否到了table最後幾行數據
        if (maxRow > numberRowsInTable) {
            maxRow = numberRowsInTable;

        }
        for (var i = currentRow; i < maxRow; i++) {
            theTable.rows[i].style.display = '';
        }

        page++;

        if (maxRow == numberRowsInTable) {
            console.log(maxRow + "=======");
            nextOff();

        }
        preOn();
        showPageActive(page);
        if (@num1% 10 == 0) {
            changepage(page,@endpageint);
        } else
        {
            changepage(page,@endpage);
        }

    }

    //上一頁
    function pre() {

        hideTable();
        page--;//4->3

        currentRow = pageSize * page;//30

        maxRow = currentRow - pageSize;//20
        if (currentRow > numberRowsInTable) currentRow = numberRowsInTable;
        for (var i = maxRow; i < currentRow; i++) {
            //清除display樣式，display將使用默認
            theTable.rows[i].style.display = '';
        }

        if (maxRow == 0) {
            preOff();

        }
        showPageActive(page);
        nextOn();
        if (@num1% 10 == 0) {
            changepage(page,@endpageint);
        } else
        {
            changepage(page,@endpage);
        }

    }

    //第幾頁
    function nPage(n) {
        hideTable();
        page = n;
        currentRow = pageSize * (n - 1);
        maxRow = currentRow + pageSize;
        maxRow = Math.min(maxRow, numberRowsInTable);

        maxRow1 = currentRow + pageSize;
        // 判斷是否到了table最後幾行數據
        if (maxRow1 > numberRowsInTable) {
            maxRow1 = numberRowsInTable;

        }
        for (var i = currentRow; i < maxRow; i++) {
            theTable.rows[i].style.display = '';
        }


        if (n==1 && @num1 <= 10)
        {
            nextOff();
            preOff();
        }
        else if (n == 1) {
            nextOn();
            preOff();
        }else if (maxRow1 == numberRowsInTable) {
            preOn();
            nextOff();
        } else {
            nextOn();
            preOn();
        }
        clearActive();

        showPageActive(n);

    }

    function hideTable() {
        for (var i = 0; i < numberRowsInTable; i++) {
            theTable.rows[i].style.display = 'none';
        }
    }

    //將當前頁設爲active
    function showPageActive(p) {
        clearActive();
        //清除之前的
        var nowpage = document.getElementById("spanpage_a_" + p);

        nowpage.setAttribute("style", "background-color:#68a3fc; color:#ffffff;")

    }

    //總共頁數
    function pageCount() {
        var count = 0;
        //判斷是否整除
        if (numberRowsInTable % pageSize != 0) count = 1;
        return parseInt(numberRowsInTable / pageSize) + count;
    }


    //上一頁下一頁鏈接的禁用和打開
    function preOn() {
        spanPre.innerHTML = " <a class='page-link' href='javascript:pre();'>&laquo;</a>";
        spanPre.setAttribute("class", "");
    }
    function preOff() {
        //bootstrap設置禁用樣式之後還是可以點擊一次，所以這裏直接修改innerHTML解決這個問題。
        spanPre.innerHTML = " <a class='page-link' href='javascript:void(0);'>&laquo;</a>";
        spanPre.setAttribute("class", "disabled");
    }
    function nextOn() {
        spanNext.innerHTML = "<a class='page-link' href='javascript:next()'>&raquo;</a>";
        spanNext.setAttribute("class", "");
    }
    function nextOff() {
        spanNext.innerHTML = "<a class='page-link' href='javascript:void(0)'>&raquo;</a>";
        spanNext.setAttribute("class", "disabled");
    }


    //隱藏表格 ,只顯示第一頁的內容
    function hide() {
        for (var i = pageSize; i < numberRowsInTable; i++) {
            theTable.rows[i].style.display = 'none';
        }
        showPageActive(1);
        preOff();
        nextOn();
    }

    hide();
</script>
