@{
    ViewData["Title"] = "公出管理";
    List<AttendanceManagement.Models.TripRecord> reviewTripRecords = ViewBag.review_triprecord;//待審核公出資料
    List<AttendanceManagement.Models.TripRecord> passTripRecords = ViewBag.pass_triprecord;//已審核公出資料
    List<AttendanceManagement.Models.Trip2Record> Trip2Records = ViewBag.trip2record;//公出資料2
    List<AttendanceManagement.Models.DetailTrip2Record> DetailTrip2Records = ViewBag.detailtrip2record;//公出資料2

   
    int review_num = 0;//待審核公出資料編號
    int pass_num = 0;//已審核公出資料編號
}

<div class="main-content">
    <section class="section">
        <h3 class="page_name">
            公出管理
        </h3>

        @*
        <div class="section-body" style="margin-top:25px">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>待審核-公出申請</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>編號</th>
                                            <th>批示狀態</th>
                                            <th>申請人</th>
                                            <th>起始時間</th>
                                            <th>結束時間</th>
                                            <th>公出地點</th>
                                            <th>申請時間</th>
                                            <th>審核</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var review_triprecord in reviewTripRecords)
                                        {
                                            review_num++;
                                            <tr>
                                                <td>@review_num</td>
                                                <td><div class="badge badge-warning">待審核</div></td>
                                                <td>@review_triprecord.Name</td>
                                                <td>@review_triprecord.StartDate</td>
                                                <td>@review_triprecord.EndDate</td>
                                                <td>@review_triprecord.Location</td>
                                                <td>@review_triprecord.CreatedTime</td>
                                                <td><a href="/TripRecords/Check?id=@review_triprecord.TripRecordId" class="btn btn-danger btn-action" data-toggle="tooltip" title="Edit"><i class="bi-check2-circle"></i></a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        *@


        @using (Html.BeginForm("SearchTripRecord", "TripRecords", FormMethod.Get))
        {
            @Html.AntiForgeryToken()
            <form class="form-inline mr-auto">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <label class="form-inline">
                            姓名(ID)：
                            <input id="employee_name" name="employee_name" class="form-control" type="text" placeholder="請輸入員工姓名" aria-label="Search">
                        </label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <label class="form-inline">
                            日期：
                            <input id="date" name="date" class="form-control" type="date" placeholder="Search" aria-label="Search" max="@DateTime.Now.ToString("yyyy-MM-dd")">
                        </label>
                    </div>
                    <div class="col-lg-1 col-md-1 col-12">
                        <div>
                            <button id="button" name="button" value="search" class="btn" type="submit"><i class="bi-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        }

        <div class="row" style="margin-top:25px">
            <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4>公出紀錄</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>編號</th>
                                        @*
                                        <th>批示狀態</th>
                                        *@
                                        <th>申請人</th>
                                        <th>起始時間</th>
                                        <th>結束時間</th>
                                        @*
                                        <th>公出地點</th>
                                        <th>申請時間</th>
                                        <th></th>
                                        *@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var trip2record in Trip2Records)
                                    {
                                        <tr data-toggle="modal" data-target="#exampleModal2.@trip2record.GroupId" id="id" name="id" value="@trip2record.GroupId">
                                            <td>@trip2record.Num</td>

                                            @*
                                            @if (pass_triprecord.Review == true)
                                            {
                                                <td><div class="badge badge-info">審核通過</div></td>
                                            }
                                            else
                                            {
                                                <td><div class="badge badge-danger">審核拒絕</div></td>
                                            }
                                            *@

                                            <td><a href="#"><img src="~/Content/images/avatar.png" alt="avatar" width="30" class="rounded-circle mr-1">@trip2record.Name</td>
                                            <td>@trip2record.StartTime</td>
                                            <td>@trip2record.EndTime</td>

                                            @*
                                            <td>@pass_triprecord.Location</td>
                                            <td>@pass_triprecord.CreatedTime</td>
                                            <td><a href="/TripRecords/Edit?id=@pass_triprecord.TripRecordId" class="btn btn-primary btn-action" data-toggle="tooltip" title="Edit"><i class="bi-pencil-fill"></i></a></td>
                                            *@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="card-footer text-right">
                                <nav class="d-inline-block">
                                    <ul class="pagination mb-0">
                                        <li class="page-item">
                                            <a class="page-link" href="#" tabindex="-1"><i class="bi-chevron-double-left"></i></a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#"><i class="bi-chevron-double-right"></i></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@foreach (var trip2record in Trip2Records)
{
    <div class="modal fade bd-example-modal-lg" id="exampleModal2.@trip2record.GroupId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-size:20px; font-family:Agency FB">員工姓名：@trip2record.Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <hr size="10" color="#d9d9d9" align="center" width="95%">
                <div class="modal-body">
                    @foreach (var detailtrip2record in DetailTrip2Records)
                    {
                        if (trip2record.GroupId == @detailtrip2record.GroupId)
                        {
                            <div class="cardA card-primary" style="margin-top:-18px">
                                <div class="row">
                                    <div class="col-12">
                                        @switch (detailtrip2record.Trip2Type)
                                        {
                                            case 1:
                                                <div class="badge badge-danger">出勤</div>
                                                break;

                                            case 2:
                                                <div class="badge badge-info">到站</div>
                                                break;

                                            case 3:
                                                <div class="badge badge-warning">結束</div>
                                                break;
                                        }
                                        <div class="row" style="margin-top:10px">
                                            <div class="col-12 col-lg-6">
                                                打卡時間
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                地點
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-8 col-sm-6">
                                                <input type="text" class="form-control" id="trip2record_StartDate" name="trip2record_StartDate" value="@detailtrip2record.CreatedTime" readonly="readonly">
                                            </div>
                                            @{string location = AttendanceManagement.Models.GoogleMapApiModel.latLngToChineseAddress(detailtrip2record.CoordinateX,detailtrip2record.CoordinateY); }
                                            <div class="col-4 col-sm-6">
                                                <input type="text" class="form-control" id="trip2record_Location" name="trip2record_Location" value="@location" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @*<div class="cardA card-primary" style="margin-top:-18px">
                <div class="row">
                    <div class="col-12">
                        <div class="badge badge-danger">出勤</div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-12 col-lg-6">
                                打卡時間
                            </div>
                            <div class="col-12 col-lg-6">
                                地點
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-sm-6">
                                <input type="text" class="form-control" id="pass_triprecord_StartDate" name="pass_triprecord_StartDate" value="@trip2record.StartTime">
                            </div>
                            <div class="col-4 col-sm-6">
                                <input type="text" class="form-control" id="pass_triprecord_Location" name="pass_triprecord_Location" value="@trip2record.EndTime">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cardA card-primary">
                <div class="row">
                    <div class="col-12">
                        <div class="badge badge-info">到站</div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-12 col-lg-6">
                                打卡時間
                            </div>
                            <div class="col-12 col-lg-6">
                                地點
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-sm-6">
                                <input type="text" class="form-control" id="trip2record_StartTime" name="trip2record_StartTime" value="@trip2record.StartTime">
                            </div>
                            <div class="col-4 col-sm-6">
                                <input type="text" class="form-control" id="trip2record_Location" name="trip2record_Location" value="@trip2record.EndTime">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cardA card-primary">
                <div class="row">
                    <div class="col-12">
                        <div class="badge badge-warning">結束</div>
                        <div class="row" style="margin-top:10px">
                            <div class="col-12 col-lg-6">
                                打卡時間
                            </div>
                            <div class="col-12 col-lg-6">
                                地點
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-sm-6">
                                <input type="text" class="form-control" id="pass_triprecord_EndDate" name="pass_triprecord_EndDate" value="@trip2record.EndTime">
                            </div>
                            <div class="col-4 col-sm-6">
                                <input type="text" class="form-control" id="pass_triprecord_Location" name="pass_triprecord_Location" value="@trip2record.StartTime">
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

                    }
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

}


@*<script>
        var itemA = '<%=@foreach (var pass_triprecord in passTripRecords) { @pass_triprecord.TripRecordId} %>'

        $('#exampleModal2.itemA).on('bs.modal', function(event) {
                var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

</script>*@
<script>
        var itemA = '<%=@foreach (var trip2record in Trip2Records) { @trip2record.GroupId} %>'

        $('#exampleModal2.itemA).on('bs.modal', function(event) {
                var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

</script>